<%
# Determine the sequence of this unit among all units for this order.
# For example, if there are 5 units for this order, when units are sorted by
# unit id, is this the first of 5, second of five, etc.?
units_sorted = @order.units.sort_by {|unit| unit.id}
  c = 0
  units_sorted.each do |unit|
    c += 1
    if unit.id == @unit.id
    break
  end
end
%>
<div id="container">
    <div class="row" id="header">
        <div class="item w100">Digitization Services Routing Slip</div>
    </div>
    <div class="row border_pretty" id="top">
        <div class="item w35">Order Number: <%= @order.id %></div>
        <div class="item w40 red">Unit Number: <%= @unit.id %></div>
        <div class="item w25 underline"><span># <%= c %> of <%= @order.units.length %> units</span></div>
    </div>
    <div class="row">
        <div class="item w50">Condition of Item: Good / Bad</div>
        <div class="item w50 red">Call Number: <%= if @bibl then empty2nbsp(@bibl.call_number) else empty2nbsp('') end %></div>
    </div>
    <div class="row">
        <div class="item w50">Condition Notes: ___________________</div>
        <div class="item w50">ViU Number:_________________________</div>
    </div>
    <div class="row">
        <div class="item w50">_________________________________</div>
        <div class="item w50">Location: <%= if @bibl then empty2nbsp(@bibl.location) else empty2nbsp('') end %></div>
    </div>
    <div class="row">
        <div class="item w50">_________________________________</div>
        <div class="item w50 underline">Title: <%= if @bibl then empty2nbsp(truncate(@bibl.title, :length => 100)) else empty2nbsp('') end %></div>
    </div>
    <div class="row">
        <div class="item w50">Camera/Lens: ______________________</div>
        <div class="item w50">Pages to be scanned: _________________</div>
    </div>
    <div class="row">
        <div class="item w50">Resolution: ________________________</div>
        <div class="item w50">Files from previous unit?: _________</div>
    </div>
    <div class="row heading border_pretty">
        <div class="item w55">Order Information</div>
        <div class="item w45">Deliverables</div>
    </div>
    <%
      if @customer.academic_status
        customer_status = @customer.academic_status.name
      else
        customer_status = "Fac Staff / Student / Other"
      end
    %>
    <div class="row">
        <div class="item w55">Customer Name: <%= empty2nbsp(@customer.full_name) %></div>
        <div class="item w45">Intended Use: <%= empty2nbsp(@unit.intended_use.description) %></div>
    </div>
    <div class="row">
        <div class="item w55 red underline">Due Date: <%= empty2nbsp( format_date(@order.date_due) ) %></div>
        <div class="item w45">Resolution: <%= empty2nbsp(@unit.intended_use_deliverable_resolution) %></div>
    </div>
    <div class="row">
        <div class="item w55">Project Name: <%= empty2nbsp(@order.order_title) %></div>
				<div class="item w45">Format: <%= empty2nbsp(@unit.intended_use.deliverable_format) %></div>
    </div>
    <div class="row">
        <div class="item w55">Customer Status: <%= customer_status %></div>
        <div class="item w45"></div>
    </div>
    <div class="row heading border_pretty">
        <div class="item w90">Unit Information</div>
    </div>
    <%
      if @unit.special_instructions.nil?
        special_instructions = ''
      else
        special_instructions = raw(@unit.special_instructions.gsub(/\n/, '<br />'))
      end
    %>
    <div class="row">
        <div class="item w80 red">Unit Special Instructions / Pages to be scanned:</div>
    </div>
    <div class="row">
        <div class="item w80 red"><%= special_instructions %></div>
    </div>
    <div class="row">
    <%
      if @unit.order.special_instructions.nil?
        order_special_instructions = ''
      else
        order_special_instructions = raw(@unit.order.special_instructions.gsub(/\n/, '<br />'))
      end
    %>
        <div class="item w90 red">Order Special Instructions / Pages to be scanned:</div>
    </div>
    <div class="row">
        <div class="item w90 red"><%= order_special_instructions%></div>
    </div>
    <div class="row heading border_pretty">
        <div class="item w90">Production Workflow</div>
    </div>
    <div class="row">
        <div class="item w50 underline">Materials Ready: <%= empty2nbsp(format_date(@unit.date_materials_received)) %></div>
    </div>
    <div class="row">
        <div class="item w50">1. In process scanning: ____________</div>
        <div class="item w50">7. Rescans and Corrections _________</div>
    </div>
    <div class="row">
        <div class="item w50">2. Crop and Rotate: ________________</div>
        <div class="item w50">8. 2nd QA: _________________________</div>
    </div>
    <div class="row">
        <div class="item w50">3. Process: ________________________</div>
        <div class="item w50">9. Final QA 1: _____________________</div>
    </div>
    <div class="row">
        <div class="item w50">4. Build Catalog: __________________</div>
        <div class="item w50">10. Final QA 2: ____________________</div>
    </div>
    <div class="row">
        <div class="item w50">5. 1st QA: _________________________</div>
        <div class="item w50">11. Finalized: _____________________</div>
    </div>
    <div class="row">
        <div class="item w50">6. Create Metadata: ________________</div>
        <div class="item w50">12. Delivered/Archived _____________</div>
    </div>
    <div class="row" id="footer">
        <div class="item w90">Generated on 14 Mar 2014 by ms3uf.</div>
    </div>
</div>
