<%
# Determine the sequence of this unit among all units for this order.
# For example, if there are 5 units for this order, when units are sorted by
# unit id, is this the first of 5, second of five, etc.?
units_sorted = @order.units.sort_by {|unit| unit.id}
  c = 0
  units_sorted.each do |unit|
    c += 1
    if unit.id == @unit.id
    break
  end
end
%>
<% operator = @user.full_name || "Tracksys" %>
<div id="container">
    <div class="row" id="header">
        <div class="item w100">Digital Production Group Routing Slip</div>
    </div>
    <div class="row border_pretty" id="top">
        <div class="item w35">Order #<%= @order.id %></div>
        <div class="item w35 red" style="padding-left: 1em;">Unit #<%= @unit.id %></div>
        <div class="item w30 underline"><span># <%= c %> of <%= @order.units.length %> units</span></div>
    </div>
    <div class="row">
        <div class="item w50">Condition of Item: Good / Bad</div>
        <div class="item w50 red">Call Number: <%= if @bibl then empty2nbsp(@bibl.call_number) else empty2nbsp('') end %></div>
    </div>
    <div class="row">
        <div class="item w50">Condition Notes: ___________________</div>
        <div class="item w50 section-underline">ViU Number:</div>
    </div>
    <div class="row">
        <div class="item w50">_________________________________</div>
        <div class="item w50 section-underline">Location: <%= if @bibl then empty2nbsp(@bibl.location) else empty2nbsp('') end %></div>
    </div>
    <div class="row">
        <div class="item w50">_________________________________</div>
        <div class="item w50 underline">Title: <%= if @bibl then empty2nbsp(truncate(@bibl.title, :length => 100)) else empty2nbsp('') end %></div>
    </div>
    <div class="row">
        <div class="item w50">Camera/Lens: ______________________</div>
        <div class="item w50">Pages to be scanned: _________________</div>
    </div>
    <div class="row">
        <div class="item w50">Resolution: ________________________</div>
        <div class="item w50">Files from previous unit?: _________</div>
    </div>
    <%
      if @customer.academic_status
        customer_status = @customer.academic_status.name
      else
        customer_status = "Fac Staff / Student / Other"
      end
    %>
    <%
    # these nil guards are for older units that lack some data 
    description = nil
    if @unit.intended_use.respond_to?(:description)
      description = @unit.intended_use.description
    end
    deliverable_format = nil
    if @unit.intended_use.respond_to?(:deliverable_format)
      deliverable_format = @unit.intended_use.deliverable_format
    end
    %>
    <div class="row heading border_pretty">
        <div class="item w55">Order Information</div>
        <div class="item w45">Deliverables</div>
    </div>
    <div class="row">
        <div class="item w50 section-underline">Customer Name: <%= empty2nbsp(@customer.full_name) %></div>
        <div class="item w05"><%= empty2nbsp(nil) %></div>
        <div class="item w45 section-underline">Intended Use: <%= empty2nbsp(description) %></div>
    </div>
    <div class="row">
        <div class="item w55 red underline">Due Date: <%= empty2nbsp( format_date(@order.date_due) ) %></div>
        <div class="item w45 section-underline">Resolution: <%= empty2nbsp(@unit.intended_use_deliverable_resolution) %></div>
    </div>
    <div class="row">
        <div class="item w50 section-underline">Project Name: <%= empty2nbsp(@order.order_title) %></div>
        <div class="item w05"><%= empty2nbsp(nil) %></div>
				<div class="item w45 section-underline">Format: <%= empty2nbsp(deliverable_format) %></div>
    </div>
    <div class="row">
        <div class="item w55 section-underline">Customer Status: <%= customer_status %></div>
        <div class="item w10"></div>
        <div class="item w35"></div>
    </div>
    <div class="row heading border_pretty">
        <div class="item w90">Unit Information</div>
    </div>
    <%
      if @unit.special_instructions.nil?
        special_instructions = ''
      else
        special_instructions = raw(@unit.special_instructions.gsub(/\n/, '<br />'))
      end
    %>
    <div class="row">
        <div class="item w80 red">Unit Special Instructions / Pages to be scanned:</div>
    </div>
    <div class="row">
        <div class="item w80 red"><%= special_instructions %></div>
    </div>
    <div class="row">
    <%
      if @unit.order.special_instructions.nil?
        order_special_instructions = ''
      else
        order_special_instructions = raw(@unit.order.special_instructions.gsub(/\n/, '<br />'))
      end
    %>
        <div class="item w90 red">Order Special Instructions / Pages to be scanned:</div>
    </div>
    <div class="row">
        <div class="item w90 red"><%= order_special_instructions%></div>
    </div>
    <div class="row heading border_pretty">
        <div class="item w90">Production Workflow</div>
    </div>
    <div class="row">
        <div class="item w50 section-underline">Materials Ready: <%= empty2nbsp(format_date(@unit.date_materials_received)) %></div>
    </div>
    <div class="row">
        <div class="item w50">1. In process scanning: _____________</div>
        <div class="item w50">6. 2nd QA: __________________________</div>
    </div>
    <div class="row">
        <div class="item w50">2. Crop / Rotate / Process: ___________</div>
        <div class="item w50">7. Final QA 1: ________________________</div>
    </div>
    <div class="row">
        <div class="item w50">3. Build Catalog / QA 1: ______________</div>
        <div class="item w50">8. Final QA 2: ________________________</div>
    </div>
    <div class="row">
        <div class="item w50">4. Create Metadata: _________________</div>
        <div class="item w50">9. Finalized: _________________________</div>
    </div>
    <div class="row">
        <div class="item w50">5. Rescans and Corrections ___________</div>
        <div class="item w50">10. Delivered/Archived _________________</div>
    </div>
    <div class="row" id="footer">
        <div class="item w90">Generated on <%= Time.now.strftime("%d %h %Y") %> by <%= operator %>.</div>
    </div>
</div>
