<%= semantic_form_for([:admin, @sirsi_metadata], :url=>"/admin/sirsi_metadata/#{@sirsi_metadata.id}") do |f| %>

<fieldset class="three-column panel">
   <legend><span>Basic Information</span></legend>
  <%= render :partial=>'sirsi_meta', locals: {edit: true} %>
</fieldset>

  <fieldset class="three-column panel">
     <legend><span>Detailed Information</span></legend>
    <%= render :partial=>'sirsi_detail' %>
  </fieldset>

  <%= f.inputs "Administrative Information", :class => 'three-column panel meta-admin-info' do %>
    <%= f.input :is_approved, :as => :radio, label: "Approved?" %>
    <%= f.input :is_personal_item, :as => :radio, label: "Personal item?" %>
    <%= f.input :is_manuscript, :as => :radio, label: "Manuscript or unpublished item?"%>
    <%= f.input :is_collection, :as => :radio, label: "Collection?" %>
    <%= f.input :resource_type, :as => :select, :collection => Metadata::RESOURCE_TYPES, :input_html => {:class => 'chosen-select',  :style => 'width: 200px'} %>
    <%= f.input :genre, :as => :select, :collection => Metadata::GENRES, :input_html => {:class => 'chosen-select',  :style => 'width: 200px'} %>
  <% end %>

  <%= f.inputs "Digital Library Information", :class => 'columns-none panel', :style=>"margin-top:15px" do %>
      <%= f.input :pid, :as => :string, :input_html => { :readonly => true } %>
      <%= f.input :exemplar, :as => :select, :collection => f.object.dl_master_files.map(&:filename), :input_html => {:class => 'chosen-select',  :style => 'width: 250px'} %>
      <%= f.input :availability_policy %>
      <%= f.input :discoverability, :as => :select %>
      <%= f.input :use_right, label: "Right Statement" %>
      <%= f.input :indexing_scenario %>
      <%= f.input :collection_facet, :as => :string %>
      <%= f.input :dpla, :as => :radio %>
      <% if @sirsi_metadata.dpla %>
         <%= f.input :parent_bibl_id, :as => :number  %>
      <% end %>
      <%= f.input :date_dl_ingest, :as => :string, :input_html => {:class => "datepicker"} %>
      <%= f.input :date_dl_update, :as => :string, :input_html => {:class => "datepicker"} %>
  <% end %>

  <fieldset class="columns-none xml-submit">
     <input type="submit" name="commit" value="Update Sirsi metadata">
     <a class="cancel" href="/admin/sirsi_metadata/<%= @sirsi_metadata.id %>">Cancel</a>
  </fieldset>
<% end %>
