<div class="attributes_table">
   <table border="0" cellspacing="0" callpadding="0">
      <% if !defined?(edit) %>
         <tr class="row"><th>CATALOG KEY</th><td><%= raw format_td(@sirsi_meta[:catalog_key]) %></td></tr>
         <tr class="row"><th>BARCODE</th><td><%= raw format_td(@sirsi_meta[:barcode]) %></td></tr>
         <tr class="row"><th>TITLE</th><td class="sirsi-data" id="title"><%= raw format_td(@sirsi_meta[:title]) %></td></tr>
         <tr class="row"><th>CREATOR NAME</th><td  class="sirsi-data" id="creator_name"><%= raw format_td( @sirsi_meta[:creator_name]) %></td></tr>
         <tr class="row"><th>CREATOR NAME TYPE</th><td  class="sirsi-data" id="creator_name_type"><%= raw format_td(@sirsi_meta[:creator_name_type]) %></td></tr>
         <tr class="row"><th>CALL NUMBER</th><td  class="sirsi-data" id="call_number"><%= raw format_td(@sirsi_meta[:call_number]) %></td></tr>
      <% else %>
         <tr class="row">
            <th>CATALOG KEY</th>
            <td>
               <input class='sirsi-edit' maxlength="255" id="sirsi_metadata_catalog_key" type="text" value="<%= @sirsi_meta[:catalog_key] %>" name="sirsi_metadata[catalog_key]">
            </td>
         </tr>
         <tr class="row">
            <th>BARCODE</th>
            <td>
               <input class='sirsi-edit' maxlength="255" id="sirsi_metadata_barcode" type="text" value="<%= @sirsi_meta[:barcode] %>" name="sirsi_metadata[barcode]">
            </td>
         </tr>
         <tr class="row">
            <td colspan="2" style="text-align:right"><span id="refresh-metadata" class="ocr-button">Refresh Metadata</span></td>
         </tr>
         <tr class="row">
            <th>TITLE</th>
            <td>
               <span class="sirsi-data" id="title"><%= raw format_td(@sirsi_meta[:title]) %></span>
               <input style="display:none" class='sirsi-edit' maxlength="255" id="sirsi_metadata_title" type="text" value="<%= @sirsi_meta[:title] %>" name="sirsi_metadata[title]">
            </td>
         </tr>
         <tr class="row">
            <th>CREATOR NAME</th>
            <td>
               <span class="sirsi-data" id="creator_name"><%= raw format_td( @sirsi_meta[:creator_name]) %></span>
               <input style="display:none" class='sirsi-edit' maxlength="255"
                      id="sirsi_metadata_creator_name" type="text" value="<%= @sirsi_meta[:creator_name] %>" name="sirsi_metadata[creator_name]">
            </td>
         </tr>
         <tr class="row"><th>CREATOR NAME TYPE</th><td  class="sirsi-data" id="creator_name_type"><%= raw format_td(@sirsi_meta[:creator_name_type]) %></td></tr>
         <tr class="row">
            <th>CALL NUMBER</th>
            <td>
               <span class="sirsi-data" id="call_number"><%= raw format_td(@sirsi_meta[:call_number]) %></span>
               <input style="display:none" class='sirsi-edit' maxlength="255" id="sirsi_metadata_call_number"
                      type="text" value="<%= @sirsi_meta[:call_number] %>" name="sirsi_metadata[call_number]">
            </td>
         </tr>
      <% end %>

      <tr class="row"><th>YEAR</th><td  class="sirsi-data" id="year"><%= raw format_td(@sirsi_meta[:year]) %></td></tr>
      <tr class="row"><th>YEAR TYPE</th><td  class="sirsi-data" id="year_type"><%= raw format_td(@sirsi_meta[:year_type]) %></td></tr>
      <tr class="row"><th>PLACE OF PUBLICATION</th><td  class="sirsi-data" id="publication_place"><%= raw format_td(@sirsi_meta[:publication_place]) %></td></tr>
      <tr class="row"><th>COPY</th><td  class="sirsi-data" id="copy"><%= raw format_td(@sirsi_meta[:copy]) %></td></tr>
      <tr class="row"><th>LOCATION</th><td  class="sirsi-data" id="location"><%= raw format_td(@sirsi_meta[:location]) %></td></tr>
   </table>
</div>
