<div class="attributes_table">
   <table border="0" cellspacing="0" callpadding="0">
      <% if !defined?(edit) %>
         <tr class="row">
            <th>Collection ID</th>
            <td class="sirsi-data" id="collection_id"><%= raw format_td(@sirsi_meta[:collection_id]) %></td>
         </tr>
      <% else %>
         <tr class="row">
            <th>Collection ID</th>
            <td>
               <input class='sirsi-edit' maxlength="255" id="sirsi_metadata_collection_id"
                      type="text" value="<%= @sirsi_meta[:collection_id] %>" name="sirsi_metadata[collection_id]">
            </td>
         </tr>
      <% end %>
      <tr class="row">
         <th>Cataloging Cource</th>
         <td class="sirsi-data" id="cataloging_source"><%= raw format_td(@sirsi_meta[:cataloging_source]) %></td>
      </tr>
      <tr class="row">
         <th>Citation</th>
         <td class="sirsi-data" id="citation"><%= raw format_td(@sirsi_meta[:citation]) %></td>
      </tr>
      <tr class="row">
         <th>Description</th>
         <td class="sirsi-data" id="description"><%= raw format_td(@sirsi_meta[:description]) %></td>
      </tr>
      <tr class="row">
         <th>title control</th>
         <td class="sirsi-data" id="title_control"><%= raw format_td( @sirsi_meta[:title_control]) %></td>
      </tr>
      <tr class="row">
         <th>series title</th>
         <td class="sirsi-data" id="series_title"><%= raw format_td(@sirsi_meta[:series_title]) %></td>
      </tr>
      <tr class="row">
         <th>volume</th>
         <td class="sirsi-data" id="volume"><%= raw format_td(@sirsi_meta[:volume]) %></td>
      </tr>
      <tr class="row">
         <th>issue</th>
         <td class="sirsi-data" id="issue"><%= raw format_td(@sirsi_meta[:issue]) %></td>
      </tr>
   </table>
</div>
