<%= semantic_form_for([:admin, @unit], :url => "/admin/units/#{@unit.id}") do |f| %>
   <%= f.inputs "General Information", :class => 'panel three-column ' do %>
      <%= f.input :unit_status, :as => :select, :collection => Unit::UNIT_STATUSES %>
      <%= f.input :unit_extent_estimated  %>
      <%= f.input :unit_extent_actual %>
      <%= f.input :special_instructions, :as => :text, :input_html => { :rows => 5 } %>
      <%= f.input :staff_notes, :as => :text, :input_html => { :rows => 5 } %>
      <%= f.input :complete_scan, :as => :radio %>
   <% end %>

   <%= f.inputs "Patron Request", :class => 'panel three-column' do %>
      <%= f.input :intended_use, :as => :select, :collection => IntendedUse.all %>
      <%= f.input :remove_watermark, :as => :radio %>
      <% if @unit.reorder == false %>
         <%= f.input :date_materials_received, :as => :string, :input_html => {:class => :datepicker} %>
         <%= f.input :date_materials_returned, :as => :string, :input_html => {:class => :datepicker} %>
         <%= f.input :date_archived, :as => :string, :input_html => {:class => :datepicker} %>
      <% end %>
      <%= f.input :date_patron_deliverables_ready, :as => :string, :input_html => {:class => :datepicker} %>
      <%= f.input :patron_source_url,  :as => :text, :input_html => { :rows => 1 } %>
   <% end %>

   <%= f.inputs "Related Information", :class => 'panel three-column' do %>
      <li class="string input required stringish">
         <label for="unit_order_id" class="label">Order #</label>
         <input  name="unit[order_id]" id="unit_order_id" type="text" value="<%= @unit.order_id %>"/>
      </li>

      <li class="string input required stringish">
         <label for="metadata-type-picker" class="label">Metadata Type</label>
         <select id="metadata-type-picker" style="width: 260px">
            <option value="sirsi_metadata">SirsiMetadata</option>
            <option value="xml_metadata"<% if !@unit.metadata.nil? && @unit.metadata.type == "XmlMetadata" %>selected<% end %> >XmlMetadata</option>
         </select>
      </li>

      <li class="string input required stringish">
         <label for="unit_metadata_id" class="label">Metadata</label>
         <% curr = ""
            uri = "sirsi_metadata"
            if !@unit.metadata.nil?
               if @unit.metadata.type == "SirsiMetadata"
                  curr = @unit.metadata.barcode
               else
                  uri = "xml_metadata"
                  curr = "#{@unit.metadata.id}: #{@unit.metadata.title}"
               end
            end %>
         <input name="unit[metadata_id]" id="unit_metadata_id" value="<%= @unit.metadata_id %>" style="display:none"/>
         <input data-queryuri="<%= uri %>" id="unit_metadata_selector" type="text" value="<%= curr %>"/>
      </li>
   <% end %>

   <% if !@unit.reorder %>
      <%= f.inputs "Digital Library Information", :class => 'columns-none panel', :style=>"margin-top:15px" do %>
         <%= f.input :include_in_dl, :as => :radio %>
         <%= f.input :date_dl_deliverables_ready, :as => :string, :input_html => {:class => :datepicker} %>
      <% end %>
   <% end %>

   <fieldset class="columns-none xml-submit">
      <input type="submit" name="commit" value="Update">
      <a class="cancel" href="/admin/units/<%= @unit.id %>">Cancel</a>
   </fieldset>
<% end %>
