<%= semantic_form_for([:admin, @unit], :url => "/admin/units/#{@unit.id}") do |f| %>
   <%= f.semantic_errors *f.object.errors.keys %>
   <%= f.inputs "General Information", :class => 'panel three-column ' do %>
      <%= f.input :unit_status, :as => :select, :collection => Unit::UNIT_STATUSES %>
      <%= f.input :unit_extent_estimated  %>
      <%= f.input :unit_extent_actual %>
      <%= f.input :patron_source_url,  :as => :text, :input_html => { :rows => 1 } %>
      <%= f.input :special_instructions, :as => :text, :input_html => { :rows => 5 } %>
      <%= f.input :staff_notes, :as => :text, :input_html => { :rows => 5 } %>
      <% if @unit.date_dl_deliverables_ready.blank? && @unit.date_patron_deliverables_ready.blank? %>
         <%= f.input :complete_scan, :as => :radio %>
         <%= f.input :throw_away, :as => :radio %>
         <div class="throw-away-note">Note: Throw away scans will not be sent to preservation. They are one-time scans made for a single patron.</div>
      <% else %>
         <%= f.input :complete_scan, :as => :radio, :input_html => {disabled: "disabled"}%>
         <%= f.input :throw_away, :as => :radio, :input_html => {disabled: "disabled"}%>
         <div class="throw-away-note">Note: This unit is complete. Throw away/complete status cannot be changed.</div>
      <% end %>
   <% end %>

   <%= f.inputs "Digitization Information", :class => 'panel three-column' do %>
      <%= f.input :intended_use, :as => :select, :collection => IntendedUse.where(is_approved: 1) %>
      <%= f.input :ocr_master_files, :as => :radio %>
      <%= f.input :remove_watermark, :as => :radio %>
      <% if !@unit.reorder %>
         <% if @unit.metadata.date_dl_ingest.blank? %>
            <%= f.input :include_in_dl, :as => :radio %>
         <% else %>
            <%= f.input :include_in_dl, :as => :radio, :input_html => {disabled: "disabled"}%>
            <div class="throw-away-note">Note: Cannot change publication status of published items.</div>
         <% end %>
      <% end %>
   <% end %>

   <%= f.inputs "Related Information", :class => 'panel three-column' do %>
      <li class="string input required stringish">
         <label for="unit_order_id" class="label">Order #</label>
         <% oid = @unit.order_id
            oid = nil if oid == 0 %>
         <input  name="unit[order_id]" id="unit_order_id" type="text" value="<%= oid %>"/>
      </li>

      <li class="select input optional required stringish" id="unit_metadata_id_input">
         <label for="unit_metadata_id" class="label">Metadata ID</label>
         <input type="text" name="unit[metadata_id]" id="unit_metadata_id" value="<%= @unit.metadata_id %>"/>
         <span id="find-metadata"></span>
      </li>
   <% end %>
   <%= render partial: "/admin/common/metadata_finder_modal" %>

   <fieldset class="columns-none xml-submit">
      <input type="submit" name="commit" value="Update">
      <a class="cancel" href="/admin/units/<%= @unit.id %>">Cancel</a>
   </fieldset>
<% end %>
