<div id="dimmer">
   <%= render partial: "/admin/common/viewer_modal" %>

   <% if !unit.metadata.nil? %>
      <div id="as-modal" class="modal">
         <h1>ArchivesSpace Link</h1>
         <div>
            <div class="content">
               <p class="as-warn">
                  <b>IMPORTANT:</b> Creating this link will convert the existing Sirsi Metadata record
                  into an External Metadata record that points to ArchivesSpace for all information.
                  This action affects all units and master files currently associated with the existing
                  metadata record.
               </p>
               <p class="as-warn">
                  <b>IMPORTANT:</b> Only ArchivesSpace public URLs that contain /resources/, /accessions/ or /archival_objects/ are supported.
                  URLs must contain numeric values for repositiry and object. Symbolic names like 'uva-sc' or 'cdv_album_of_the_156th_new_york_infantry_containin'
                  are <b>NOT</b> supported. If you only have symbolic names, use them, then click the convert button.
                  <br/><br/><strong>Examples:</strong>
                  <br/><a href="https://archives.lib.virginia.edu/repositories/3/resources/320" target="_blank">https://archives.lib.virginia.edu/repositories/3/resources/320</a>
                  <br/><a href="https://tracksys.lib.virginia.edu/admin/external_metadata/104203" target="_blank">https://tracksys.lib.virginia.edu/admin/external_metadata/104203</a>
               </p>
               <div>
                  <label>ArchivesSpace Public URL:</label>
                  <div style="display:flex; flex-flow:row nowrap">
                     <input type="text" name="as_url" id="as_url"/><span id="as-valid" class="validated">&#10004;</span>
                  </div>
               </div>
               <p class="error" id="as_error"></p>
               <div class="buttons">
                  <input type="button" id="validate-as" value="Convert / Validate URL"/>
                  <input type="button" id="cancel-as" value="Cancel"/>
                  <input type="button" class="disabled" data-metadata-id="<%= unit.metadata.id %>" id="create-as-link" value="Submit"/>
               </div>
            </div>
         </div>
      </div>
   <% end %>

   <div id="attachment-modal" class="modal">
      <h1>Add Attachment</h1>
      <form id="upload-attachment" method="post" action="/admin/units/<%= unit.id %>/attachment" enctype="multipart/form-data">
         <div class="content">
            <div>
               <input type="file" name="attachment" />
            </div>
            <div>
               <label>Brief Description:</label>
               <textarea name="description" form="upload-attachment" rows="5"></textarea>
            </div>
            <div class="buttons">
               <input type="button" id="cancel-attach" value="Cancel"/>
               <input type="submit" value="Attach"/>
            </div>
         </div>
      </form>
   </div>

   <div id="title-modal" class="modal">
      <h1>Master File Title</h1>
      <div class="title-wrapper">
         <textarea id="new-title"></textarea>
         <div class="buttons">
            <input type="button" id="cancel-title" value="Cancel"/>
            <input type="button" id="ok-title" value="Set Title"/>
         </div>
      </div>
   </div>

   <div id="project-modal" class="modal">
      <h1>Create Digitization Project</h1>
      <div class="title-wrapper">
         <table class="settings">
            <tr>
               <td class="label">Workflow</td>
               <td>
                  <select id="workflow">
                      <% Workflow.active.each do |p| %>
                          <option value="<%= p.id %>"><%= p.name %></option>
                      <% end %>
                  </select>
               </td>
            </tr>
            <tr id="container-type-row" style="display:none">
               <td class="label">Container Type</td>
               <td>
                  <select id="container-type">
                      <% ContainerType.all.each do |ct| %>
                          <option value="<%= ct.id %>"><%= ct.name %></option>
                      <% end %>
                  </select>
               </td>
            </tr>
            <tr>
               <td class="label">Category</td>
               <td>
                  <select id="category">
                      <% Category.all.each do |p| %>
                          <option value="<%= p.id %>"><%= p.name %></option>
                      <% end %>
                  </select>
               </td>
            </tr>
            <tr>
               <td class="label">Priority</td>
               <td>
                  <select id="priority">
                      <% Project.priorities.to_a.each do |p| %>
                          <option value="<%= p[1] %>"><%= p[0] %></option>
                      <% end %>
                  </select>
               </td>
            </tr>
            <tr>
               <td class="label">Due On</td>
               <td>
                  <input type="text" class="datepicker" id="due_on" value="<%= unit.order.date_due %>"/>
               </td>
            </tr>
            <tr>
               <td class="label">Condition</td>
            </tr>
               <td colspan="2">
                  <select id="item_condition">
                      <% Project.item_conditions.to_a.each do |p| %>
                          <option value="<%= p[1] %>"><%= p[0] %></option>
                      <% end %>
                  </select>
               </td>
            </tr>
            <tr>
               <td colspan="2">
                  <textarea id="condition_notes"></textarea>
               </td>
            </tr>
         </table>
         <div class="buttons">
            <input type="button" id="cancel-project-create" value="Cancel"/>
            <input type="button" id="ok-project-create" value="Create Project"/>
         </div>
      </div>
   </div>

</div>
