<?xml version="1.0" encoding="UTF-8"?>
<mods xmlns="http://www.loc.gov/mods/v3"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mods="http://www.loc.gov/mods/v3"
    xsi:schemaLocation="http://www.loc.gov/mods/v3
    http://www.loc.gov/standards/mods/v3/mods-3-3.xsd">
   <titleInfo>
      <title><%= bibl.title %></title>
   </titleInfo>
   <% if !bibl.creator_name.blank? %>
   <name>
      <role>
         <roleTerm type="text">creator</roleTerm>
      </role>
      <namePart><%= bibl.creator_name %></namePart>
   </name>
   <% end %>
   <% if !bibl.resource_type.blank? %>
   <typeOfResource><%= bibl.resource_type.downcase %></typeOfResource>
   <% end %>
   <% if !bibl.genre.blank? %>
   <genre authority="marcgt"><%= bibl.genre %></genre>
   <% end %>
   <% if !bibl.barcode.blank? %>
   <identifier type="barcode"><%= bibl.barcode %></identifier>
   <% end %>
   <% if !bibl.call_number.blank? %>
   <identifier type="call number"><%= bibl.call_number %></identifier>
   <% end %>
   <% if !bibl.description.blank? %>
   <note type="staff"><%= bibl.description %></note>
   <% end %>
   <% if !bibl.citation.blank? %>
   <note type="staff"><%= bibl.citation %></note>
   <% end %>
   <% if !bibl.volume.blank? || !bibl.issue.blank? %>
   <part>
      <detail type="volume"><title><%= bibl.volume %></title></detail>
      <detail type="issue"><title><%= bibl.issue %></title></detail>
   </part>
   <% end %>
   <% if !bibl.location.blank? %>
   <location>
      <physicalLocation><%= bibl.location %></physicalLocation>
   </location>
   <% end %>
   <% if !bibl.year.blank? %>
   <originInfo>
      <% if !bibl.year.blank? %>
      <% tag_name = "dateIssued"
         if !bibl.year_type.blank?
            tag_name = "copyrightDate" if bibl.year_type.downcase == "copyright"
            tag_name = "dateCreated" if bibl.year_type.downcase == "creation"
         end %>
      <<%= tag_name %> keyDate="yes"><%= bibl.year %></<%= tag_name %>>
      <% end %>
   </originInfo>
   <% end %>
</mods>
