<table class="equipment">
   <tr><th></th><th></th><th>Name</th><th>Serial Number</th><th></th></tr>
   <% odd="" %>
   <% equipment.each do |e| %>
      <% extra = ""
         extra = "assigned " if !e.workstation.nil? %>
      <tr class="<%=extra%><%=odd%>" data-id="<%= e.id %>">
         <td class="sel"><input <% if !e.workstation.nil? %>disabled="disabled"<% end %> class="sel-cb" type="checkbox" data-id="<%= e.id %>"/></td>
         <td class="status"><span class="equipment-status <%= e.status %>"></span></td>
         <td>
            <span class="name"><%= e.name %></span>
            <% if !e.workstation.nil? %>
               <span class="assigned-ws"><%= e.workstation.name %></span>
            <% end %>
         </td>
         <td><%= e.serial_number %></td>

         <td class="sel"><span class="trash ts-icon"></span></td>
      </tr>
      <%  if odd.blank?
            odd = "odd"
          else
            odd = ""
          end %>
   <% end %>
</table>
