<div class="panel equipment">
   <h3><span><%= title %></span><span id="add-note" class="add ts-icon"></span></h3>
   <table class="equipment <%= clazz %>">
      <tr><th></th><th></th><th>Name</th><th>Serial Number</th><th></th></tr>
      <% odd="" %>
      <% equipment.each do |e| %>
      <% extra = ""
         extra = "assigned " if !e.workstation.nil? %>
         <tr class="<%=extra%><%=odd%>" data-id="<%= e.id %>">
            <td class="sel"><input <% if !e.workstation.nil? %>disabled="disabled"<% end %> class="sel-cb <%= clazz %>" type="checkbox" data-id="<%= e.id %>"/></td>
            <td class="status"><span class="equipment-status <%= e.status %>"></span></td>
            <td><%= e.name %></td>
            <td><%= e.serial_number %></td>

            <td class="sel"><span class="trash ts-icon"></span></td>
         </tr>
         <%  if odd.blank?
               odd = "odd"
             else
               odd = ""
             end %>
      <% end %>
   </table>
</div>
