<div class="report-header">Total Orders by Agency - Year-to-Date (<%= year %>) </div>
<table>
   <tr>
      <% first = true %>
      <% columns.each do |h| %>
         <% if first %>
            <th class="left-border"><%= h %></th>
            <% first = false %>
         <% else %>
            <th><%= h %></th>
         <% end %>
      <% end %>
   </tr>
   <% data.each do |agency,row| %>
      <tr>
         <td class="left-border"><%= agency %></td>
         <% row.each do |val| %>
            <td><%= val %></td>
         <% end %>
      </tr>
   <% end %>
</table>
