<div class="report-header">Orders Submitted <%= year %></div>
<table>
   <tr>
      <% first = true %>
      <% columns.each do |h| %>
         <% if first %>
            <th class="left-border"><%= h %></th>
            <% first = false %>
         <% else %>
            <th><%= h %></th>
         <% end %>
      <% end %>
   </tr>
   <% submitted.each do |category, data| %>
      <tr <% if category=='Total' %>class="total"<% end %>>
         <td class="left-border"><%= category %></td>
         <% data.each do |val| %>
            <td><%= val %></td>
         <% end %>
      </tr>
   <% end %>
</table>

<div class="report-header">Orders Delivered <%= year %></div>
<table>
   <tr>
      <% first = true %>
      <% columns.each do |h| %>
         <% if first %>
            <th class="left-border"><%= h %></th>
            <% first = false %>
         <% else %>
            <th><%= h %></th>
         <% end %>
      <% end %>
   </tr>
   <% delivered.each do |category, data| %>
      <tr <% if category=='Total' %>class="total"<% end %>>
         <td class="left-border"><%= category %></td>
         <% data.each do |val| %>
            <td><%= val %></td>
         <% end %>
      </tr>
   <% end %>
</table>
