<div class="report-header">Agency Orders by Month</div>
<% data.each do |month,rows| %>
   <div class="month-header"><%= month %></div>
   <table>
      <tr>
         <% first = true %>
         <% columns.each do |h| %>
            <% if first %>
               <th class="left-border"><%= h %></th>
               <% first = false %>
            <% else %>
               <th><%= h %></th>
            <% end %>
         <% end %>
      </tr>
      <% rows.each do |row| %>
         <tr>
            <% first = true %>
            <% row.each do |val| %>
               <% if first == true %>
                  <% first = false %>
                  <td class="left-border"><%= val %></td>
               <% else %>
                  <td><%= val %></td>
               <% end %>
            <% end %>
         </tr>
      <% end %>
   </table>
<% end %>
