<div class="report-header">Orders and Units Data - <%= year %></div>
<table>
   <tr>
      <% first = true %>
      <% columns.each do |h| %>
         <% if first %>
            <th class="left-border"><%= h %></th>
            <% first = false %>
         <% else %>
            <th><%= h %></th>
         <% end %>
      <% end %>
   </tr>
   <% data.each do |row| %>
      <tr>
         <% first = true %>
         <% row.each do |val| %>
            <% if first %>
               <% first = false %>
               <td class="left-border"><%= val %></td>
            <% else %>
               <td><%= val %></td>
            <% end %>
         <% end %>
      </tr>
   <% end %>
</table>
