<table class="ocr-master-files">
   <tr>
      <th>Exclude?</td>
      <th>Status</th>
      <th>Filename</th>
      <th>Thumbnail</th>
      <th/>
   </tr>
   <% row_class="odd" %>
   <% unit.master_files.each do |mf| %>
      <tr class="<%= row_class %>">
         <td class="check"><input type="checkbox" class="exclude" data-id="<%= mf.id %>"/></td>
         <% status = "none"
            status = "success" if job.nil? && !mf.transcription_text.nil? %>
         <td><span class="status <%= status %>" id="status-<%= mf.id  %>"</span></td>
         <td><%= mf.filename %></td>
         <td>
            <%= link_to image_tag(mf.link_to_image(:small)), "#{mf.link_to_image(:large)}", :rel => 'colorbox', :title => "#{mf.filename} (#{mf.title} #{mf.description})" %>
         </td>
         <td>
            <%= link_to "View", "/admin/master_files/#{mf.id}", :class => "member_link view_link" %>
         </td>
      </tr>
      <% if row_class=="odd"
            row_class="even"
         else
            row_class="odd"
         end
      %>
   <% end %>
</table>
