<div class="ocr-src-panel">
   <div class="ocr-controls">
      <label for="language">Language:</label>
      <select id='language'>
         <option value="" disabled>Select a language</option>
         <% langs.each do |lang| %>
            <% sel = ""
               sel = 'selected="selected"' if lang == "eng"
            %>
            <option <%= sel %> value="<%= lang %>"><%= lang.upcase  %></option>
         <% end %>
      </select>
      <span class="ocr-button<% if !job.nil? %> disabled<% end %>" id="start-ocr">Start OCR</span>
      <div id="ocr-status-message" data-job-json="<%= job.to_jsob if !job.nil? %>"><% if !job.nil? %>OCR in progress...<% end %></div>
   </div>

   <div class="buttons">
      <button class="zoom-in">Zoom In</button>
      <button class="zoom-out">Zoom Out</button>
      <input type="range" class="zoom-range">
      <button class="reset">Reset</button>
   </div>

   <div class='img-box'>
      <img src="<%= Settings.iiif_url %>/<%= mf.pid %>/full/full/0/default.jpg" id="src-img"/>
   </div>
</div>
