<div class="ocr-src-panel">
   <% total = unit.master_files.count %>
   <p>Perform OCR on <span id="ocr-count"><%= total %></span> of <span id="total-pages"><%= total %></span> Master Files from this unit.</p>
   <div class="ocr-controls">
      <label for="language">Language:</label>
      <select id='language'>
         <option value="" disabled>Select a language</option>
         <% langs.each do |lang| %>
            <% sel = ""
               sel = 'selected="selected"' if lang == "eng"
            %>
            <option <%= sel %> value="<%= lang %>"><%= lang.upcase  %></option>
         <% end %>
      </select>
      <span class="ocr-button<% if !job.nil? %> disabled<% end %>" id="start-unit-ocr">Start OCR</span>
      <div id="ocr-status-message" data-job-json="<%= job.to_json if !job.nil? %>"><% if !job.nil? %>OCR in progress...<% end %></div>
   </div>
</div>
