<%= semantic_form_for([:admin, @order], :url => "/admin/orders/#{@order.id}") do |f| %>
   <%= f.semantic_errors *f.object.errors.keys %>
   <%= f.inputs "Order Information", :class => 'panel ' do %>
      <li class="text input optional">
         <label class="label">Order Status</label>
         <% os = @order.order_status
            os = os.gsub(/_/, " ").upcase if !os.nil? %>
         <span class="status_tag <%= @order.order_status %>"><%= os %></span>
      </li>
      <li class="text input optional">
         <label class="label">Date Request Submitted</label>
         <span class="value"><%= @order.date_request_submitted.strftime("%F") %></span>
      </li>
      <%= f.input :date_due, :as => :string, :input_html => {:class => :datepicker} %>

      <%= f.input :order_title %>
      <%= f.input :special_instructions, :input_html => {:rows => 3} %>
      <%= f.input :staff_notes, :input_html => {:rows => 3} %>


      <%= f.input :fee_estimated, :as => :string %>
      <%= f.input :fee_actual, :as => :string %>

      <%= f.input :agency_id, :as => :select,  :input_html => { :class => 'chosen-select',  :style => 'width: 210px' },
         :collection => Agency.order(:names_depth_cache).map {|a| ["    |---- " * a.depth + a.name,a.id]}.insert(0, ""),
         :include_blank => true %>
      <%= f.input :customer, :as => :select, :input_html => {:class => 'chosen-select',  :style => 'width: 210px'} %>

   <% end %>

   <fieldset class="columns-none xml-submit">
      <input type="submit" name="commit" value="Update">
      <a class="cancel" href="/admin/orders/<%= @order.id %>">Cancel</a>
   </fieldset>
<% end %>
