<div id="dimmer">
   <div id="create-unit-modal" class="modal">
      <h1>Create Unit</h1>
      <div class="content" id="create-unit-panel">
         <div class="flash_type_error">
         </div>
         <%= form_tag("/admin/items/convert", method: "post", remote: true, id: "convert_item") do %>
            <%= hidden_field_tag(:source_item_id, "" ) %>
            <%= hidden_field_tag(:order_id, "#{order.id}" ) %>
            <div class="form-group">
               <%= label_tag(:metadata_id, "Metadata ID") %>
               <%= text_field_tag(:metadata_id, "", {readonly: "readonly"} ) %>
               <span class="btn" id="lookup-metadata">Lookup</span>
               <p id="metadata-title"></p>
            </div>
            <div class="form-group">
               <%= label_tag(:intended_use_id, "Intended Use") %>
               <%= select_tag(:intended_use_id, options_from_collection_for_select(IntendedUse.where(is_approved: 1), :id, :name, nil)) %>
            </div>
            <div class="form-group">
               <%= label_tag(:patron_source_url, "Source URL") %>
               <%= text_area_tag(:patron_source_url, "", rows: "1" ) %>
            </div>
            <div class="form-group">
               <%= label_tag(:special_instructions, "Special Instructions") %>
               <%= text_area_tag(:special_instructions, "", rows: "7" ) %>
            </div>
            <div class="form-group">
               <%= label_tag(:staff_notes, "Staff Notes") %>
               <%= text_area_tag(:staff_notes, "" ) %>
            </div>

            <div class="form-group">
               <%= check_box_tag(:complete_scan ) %>
               <%= label_tag(:complete_scan, "Complete Scan?", class:"inline") %>
            </div>
            <div class="form-group">
               <%= check_box_tag(:throw_away ) %>
               <%= label_tag(:throw_away, "Throw Away?", class:"inline") %>
            </div>
            <div class="form-group">
               <%= check_box_tag(:include_in_dl ) %>
               <%= label_tag(:include_in_dl, "Include In Digital Library?", class:"inline") %>
            </div>

            <div class="buttons create-unit">
               <input type="button" id="cancel-unit-create" value="Cancel"/>
               <input type="submit" id="ok-unit-create" value="Create Unit"/>
            </div>
         <% end %>
      </div>
      <div id="metadata-finder" class="contet" style="display:none">
         <%= render partial: "/admin/common/metadata_finder_panel" %>
         <div class="buttons">
            <span class="mf-action-button metadata-finder select-metadata">Select</span>
            <span class="mf-action-button metadata-finder cancel-metadata">Cancel</span>
            <span class="mf-action-button metadata-finder find">Find</span>
         </div>
      </div>
   </div>
</div>
