<div id="dimmer">
   <div id="create-unit-modal" class="modal">
      <h1>Create Unit</h1>
      <div class="content" id="create-unit-panel">
         <div class="flash_type_error">
         </div>
         <%= form_tag("/admin/items/convert", method: "post", remote: true, id: "convert_item") do %>
            <%= hidden_field_tag(:source_item_id, "" ) %>
            <%= hidden_field_tag(:order_id, "#{order.id}" ) %>
            <%= hidden_field_tag(:metadata_id, "#{order.id}" ) %>
            <%= hidden_field_tag(:tgt_as_uri, "" ) %>
            <%= hidden_field_tag(:tgt_as_title, "" ) %>
            <%= hidden_field_tag(:metadata_type, "sirsi" ) %>
            <div class="form-group metadata">
               <h4>
                  <span>Unit Metadata</span>
                  <select id='metadata-type-selector'>
                     <option value="sirsi">Sirsi</option>
                     <option value="archivesspace">ArchivesSpace</option>
                  </select>
               </h4>
               <div class="sirsi-metadata">
                  <table class="metadata-summary">
                     <tr>
                        <td class="label"><label>PID:</label></td>
                        <td><span id="metadata-pid" class="metadata-display"></span></td>
                     </tr>
                     <tr>
                        <td class="label"><label>Call Number:</label></td>
                        <td><span id="metadata-call-number" class="metadata-display"></span></td>
                     </tr>
                     <tr>
                        <td class="label">Title:</td>
                        <td><span id="metadata-title" class="metadata-display"></span></td>
                     </tr>
                  </table>
                  <div id="metadata-controls">
                     <span id="metadata-status"></span>
                     <div class="buttons">
                        <span class="btn" id="lookup-metadata">Manual Lookup</span>
                        <span class="btn" id="create-metadata">Create</span>
                     </div>
                  </div>
               </div>
               <div class="archivesspace-metadata">
                  <div class='as-lookup-panel'>
                     <label>ArchivesSpace Public URL:</label>
                     <div>
                        <input type="text" id="as-url" class="metadata-display"></input>
                        <span class="btn as-lookup">Lookup</span>
                     </div>
                  </div>
                  <table class="metadata-summary">
                     <tr>
                        <td class="label"><label>Repository:</label></td>
                        <td><span id="as-repository" class="metadata-display"></span></td>
                     </tr>
                     <tr id="collection-row">
                        <td class="label"><label>Collection:</label></td>
                        <td><span id="as-collection" class="metadata-display"></span></td>
                     </tr>
                     <tr>
                        <td class="label"><label>Title:</label></td>
                        <td><span id="as-title" class="metadata-display"></span></td>
                     </tr>
                     <tr>
                        <td class="label"><label>ID:</label></td>
                        <td><span id="as-id" class="metadata-display"></span></td>
                     </tr>
                  </table>
               </div>
            </div>
            <div class="form-group">
               <%= label_tag(:intended_use_id, "Intended Use") %>
               <%= select_tag(:intended_use_id, options_from_collection_for_select(IntendedUse.where(is_approved: 1), :id, :name, nil)) %>
            </div>
            <div class="form-group">
               <%= label_tag(:patron_source_url, "Source URL") %>
               <%= text_area_tag(:patron_source_url, "", rows: "1" ) %>
            </div>
            <div class="form-group">
               <%= label_tag(:special_instructions, "Special Instructions") %>
               <%= text_area_tag(:special_instructions, "", rows: "7" ) %>
            </div>
            <div class="form-group">
               <%= label_tag(:staff_notes, "Staff Notes") %>
               <%= text_area_tag(:staff_notes, "" ) %>
            </div>

            <div class="form-group">
               <%= check_box_tag(:complete_scan ) %>
               <%= label_tag(:complete_scan, "Complete Scan?", class:"inline") %>
            </div>
            <div class="form-group">
               <%= check_box_tag(:throw_away ) %>
               <%= label_tag(:throw_away, "Throw Away?", class:"inline") %>
            </div>
            <div class="form-group">
               <%= check_box_tag(:include_in_dl ) %>
               <%= label_tag(:include_in_dl, "Include In Digital Library?", class:"inline") %>
            </div>

            <div class="buttons create-unit">
               <input type="button" id="cancel-unit-create" value="Cancel"/>
               <input type="button" id="ok-unit-create" value="Create Unit"/>
            </div>
         <% end %>
      </div>
      <div id="metadata-finder" class="content" style="display:none">
         <%= render partial: "/admin/common/metadata_finder_panel" %>
         <div class="buttons">
            <span class="mf-action-button metadata-finder cancel-metadata">Cancel</span>
            <span class="mf-action-button metadata-finder select-metadata">Select</span>
            <span class="mf-action-button metadata-finder find">Find</span>
         </div>
      </div>
      <%= render partial: "/admin/orders/metadata_builder_panel" %>
   </div>
</div>
