<div class="task-card">
   <h3>
      <a href="/admin/tasks/<%=task.id%>">
         <%= image_tag "info.png" %>
         <span class="project"><%= task.project_name %></span>
      </a>
      <span class="priority"><%= task.priority.capitalize %> Priority</span>
   </h3>
   <div class="task-body">
      <div class="left">
         <table>
            <tr>
               <td class="label">Order:</td><td><a href="/admin/orders/<%=task.unit.order.id%>"><%= task.unit.order.id %></a></td>
            </tr>
            <tr>
               <td class="label">Unit:</td><td><a href="/admin/units/<%=task.unit.id%>"><%= task.unit.id %></a></td>
            </tr>
            <tr>
               <td class="label">Customer:</td><td><a href="/admin/customers/<%=task.customer.id%>"><%= task.customer.name %></a></td>
            </tr>
            <tr>
               <td class="label">Intended Use:</td><td><%= task.unit.intended_use.description %></td>
            </tr>
            <tr>
               <td class="label">Due:</td><td><%= task.due_on %></td>
            </tr>
         </table>
      </div>
      <div class="right">
         <table>
            <tr>
               <% url = "sirsi_metadata"
                  url = "xml_metadata" if task.unit.metadata.type=="XmlMetadata" %>
               <td class="label">Title:</td>
               <td><a href="/admin/<%= url %>/<%=task.customer.id%>"><%= task.unit.metadata.title.truncate(50, separator: ' ') %></a></td>
            </tr>
            <tr>
               <td class="label">Call #:</td><td><%= task.unit.metadata.call_number %></td>
            </tr>
            <tr>
               <td class="label">Location:</td><td><%= task.unit.metadata.location %></td>
            </tr>
         </table>
      </div>
      <div class="progress-info">
         <div class="owner">
            <%= image_tag "owner.png" %>
            <span class="owner-name">
               <% if task.owner.nil? %>
                  Unassigned
               <% else %>
                  <% owner = task.owner %>
                  <a href='/admin/staff_members/#{owner.id}'><%= owner.full_name %> (<%= owner.computing_id%>)</a>
               <% end %>
            </span>
         </div>
         <%= render :partial=>"status", :locals=>{ task: task} %>
      </div>
      <div class="owner-dd">
         <% if task.owner.nil? %>
            <div class="owner-act"><a rel="nofollow" data-method="put" href="/admin/tasks/<%=task.id%>/claim">Claim</a></div>
         <% end %>
         <div class="owner-act">Assign</div>
      </div>
   </div>
</div>
