<div class="note-card <%= note.note_type %>">
   <div class="note-info">
      <div class="left-info">
         <p class="note-date"><%= note.created_at.strftime('%F %r') %></p>
         <p class="note-by"><%= note.staff_member.full_name  %></p>
      </div>
      <div class="right-info"><%= note.note_type %></div>
   </div>
   <div class="note-text">
      <% if note.problem? %>
         <p><%= note.problem.name %></p>
      <% end %>
      <%= note.note %>
   </div>
</div>
