<div class="panel notes">
   <h3><span>Notes</span><span id="add-note" class="add-icon"></span></h3>
   <div class="panel_contents">
      <% if task.notes.count == 0 %>
         <p>There are no notes associated with this task</p>
      <% else %>
         <% task.notes.order(created_at: :desc).each do |n| %>
            <%= render partial: "note", locals: {note: n} %>
         <% end %>
      <% end %>
   </div>
</div>

<div id="dimmer">
   <div id="note-modal" class="modal">
      <h1>Note</h1>
      <form id="create-note" method="post" action="/admin/tasks/<%= task.id %>/note">
         <div class="content">
            <div class="reject-instruct">
               Rejection requires the addition of a problem note that details the reason why it occurred
            </div>
            <div class="two-column">
               <label>Note Type:</label>
               <select name="note_type" id="type-select">
                  <% Note.note_types.to_a.each do |nt| %>
                  <option value="<%= nt[1] %>"><%= nt[0].gsub(/_/,' ').capitalize %></option>
                  <% end %>
               </select>
            </div>
            <div class="two-column invisible" id="problem-select">
               <label>Problem:</label>
               <select name="problem">
                  <% Problem.all.each do |p| %>
                  <option value="<%= p.id %>"><%= p.name %></option>
                  <% end %>
               </select>
            </div>
            <div>
               <label>Note Text:</label>
               <textarea name="note" form="create-note" rows="5"></textarea>
            </div>
            <div class="buttons">
               <input type="button" id="cancel-note" value="Cancel"/>
               <input type="submit" value="Add Note"/>
            </div>
         </div>
      </form>
   </div>
</div>
