<%= semantic_form_for([:admin, @external_metadata], :url => "/admin/external_metadata/#{@external_metadata.id}") do |f| %>
   <%= f.inputs "External Metadata", :toggle=>'show', :class => 'two-column panel meta-admin-info' do %>
      <%= f.input :external_system, :required=>true, :input_html => {:class => 'chosen-select required',  :style => 'width: 200px'} %>
      <%= f.input :external_uri, :required=>true %>
      <li>
         <div style="text-align: right;font-size:0.9em;margin-right:38px;">
            <span id="validate-as-url" style="background: #07a;padding: 5px 10px;color: white;border-radius: 5px;cursor:pointer;">Validate</span>
         </div>
      </li>
      <li><p style="color:firebrick" id="new-ext-err"></p></li>
      <li><b>IMPORTANT:</b>&nbsp;Only URIs containing /resources/, /accessions/ or /archival_objects/ are supported for ArchivesSpace.</li>
   <% end %>

   <%= f.inputs "Administrative Information", :toggle=>'show', :class => 'two-column panel meta-admin-info' do %>
      <%= f.input :ocr_hint, :input_html => {:class => 'chosen-select required',  :style => 'width: 200px'} %>
       <li class="select input optional" id="external_metadata_ocr_language_hint_input">
          <label for="external_metadata_ocr_language_hint" class="label">OCR Language Hint</label>
          <select multiple="multiple" class="chosen-select" name="external_metadata[ocr_language_hint][]"
                  id="external_metadata_ocr_language_hint" style="width:200px">
             <% OCR.languages.each do |l| %>
                <% selected = ""
                   selected = "selected='selected'" if !@external_metadata.ocr_language_hint.nil? && @external_metadata.ocr_language_hint.include?(l) %>
                <option value="<%= l %>" <%= selected %> ><%= l %></option>
             <% end %>
          </select>
      </li>
   <% end %>

   <fieldset class="columns-none xml-submit">
      <input type="submit" name="commit" value="Submit">
      <a class="cancel" href="/admin/external_metadata/<%= @external_metadata.id %>">Cancel</a>
   </fieldset>

<% end %>
