<fieldset>
   <legend class="form">Billing Address</legend>
   <%= c.fields_for :billable_address_attributes do |ba| %>
      <div class="form-group">
         <%= ba.label "First Name", :class => 'control-label' %>
         <%= ba.text_field :first_name, :class=>'form-control', :value => @request.customer.billable_address.first_name %>
      </div>
      <div class="form-group">
         <%= ba.label "Last Name", :class => 'control-label' %>
         <%= ba.text_field :last_name, :class=>'form-control', :value => @request.customer.billable_address.last_name %>
      </div>
      <div class="form-group">
         <%= ba.label "Address Line1", :class => 'control-label' %>
         <%= ba.text_field :address_1, :class=>'form-control', :value => @request.customer.billable_address.address_1 %>
      </div>
      <div class="form-group">
         <%= ba.label "Address Line2", :class => 'control-label' %>
         <%= ba.text_field :address_2, :class=>'form-control', :value => @request.customer.billable_address.address_2 %>
      </div>
      <div class="form-group">
         <%= ba.label "City", :class => 'control-label' %>
         <%= ba.text_field :city, :class=>'form-control', :value => @request.customer.billable_address.city %>
      </div>
      <div class="form-group">
         <%= ba.label "State", :class => 'control-label' %>
         <%= ba.text_field :state, :class=>'form-control', :value => @request.customer.billable_address.state %>
      </div>
      <div class="form-group">
         <%= ba.label "Zip Code", :class => 'control-label' %>
         <%= ba.text_field :post_code, :class=>'form-control', :value => @request.customer.billable_address.post_code %>
      </div>
      <div class="form-group">
         <%= ba.label "Country", :class => 'control-label' %>
         <%= ba.select :country,
            country_options_for_select(@request.customer.billable_address.country, ['United States', 'Canada']),
            {:include_blank => true}, {:class=>'form-control'} %>
      </div>
      <div class="form-group">
         <%= ba.label "Phone", :class => 'control-label' %>
         <%= ba.text_field :phone, :class=>'form-control', :value => @request.customer.billable_address.phone %>
      </div>
   <% end %>
</fieldset>
