
<div class="row add-item">
   <div class="col-md-5">
      <div class="form-group">
         <%= unit.label "Image or page numbers", :class => 'control-label required' %>
         <%= unit.text_area :request_pages_to_digitize, :rows => 3, :class => 'form-control input-large', :required => true %>
      </div>
      <div class="form-group">
         <%= unit.label "Call Number", :class => 'control-label'%>
         <%= unit.text_field :request_call_number, :class=>'form-control' %>
      </div>
      <div class="form-group">
         <%= unit.label "Title", :class => 'control-label'%>
         <%= unit.text_field :request_title, :class=>'form-control' %>
      </div>
      <div class="form-group">
         <%= unit.label "Author", :class => 'control-label' %>
         <%= unit.text_field :request_author, :class=>'form-control' %>
      </div>
      <div class="form-group">
         <%= unit.label "Year Published", :class => 'control-label'%>
         <%= unit.text_field :request_year, :class=>'form-control' %>
      </div>
      <div class="form-group">
         <%= unit.label "Location", :class => 'control-label'%>
         <%= unit.text_field :request_location, :class=>'form-control'%>
      </div>
      <div class="form-group">
         <%= unit.label "Copy Number", :class => 'control-label' %>
         <%= unit.text_field :request_copy_number, :class=>'form-control' %>
      </div>
      <div class="form-group">
         <%= unit.label "Volume Number", :class => 'control-label' %>
         <%= unit.text_field :request_volume_number, :class=>'form-control' %>
      </div>
      <div class="form-group">
         <%= unit.label "Issue Number", :class => 'control-label' %>
         <%= unit.text_field :request_issue_number, :class=>'form-control' %>
      </div>
      <div class="form-group">
         <%= unit.label "Web Link for item (if available)", :class => 'control-label' %>
         <%= unit.text_area :patron_source_url, :rows => 3, :class => 'input-large form-control' %>
      </div>
   </div>

   <div class="col-md-5">
      <div class="form-group">
         <%= unit.label "Additional Description", :class => 'control-label' %>
         <%= unit.text_area :request_description, :rows => 5, :class => 'input-large form-control'  %>
         <p class="help-block">If the provided fields were insufficient to describe the item, include supplemental information above.</p>
      </div>

      <div class="form-group">
         <%= unit.label "How do you intend to use this digitized resource?", :class => 'control-label required' %>
         <%= unit.select :intended_use_id, IntendedUse.external_use.collect {|i| [i.description, i.id] }, {:include_blank => true}, :required => true, :class => 'form-control intended_use_select' %>
      </div>
      <div class="intended_use_watermarked_jpg" style="display: none;">
         <p>Deliverables: <strong>300dpi JPEG</strong></p>
         <p>For this use Digital Production Group will deliver <strong>300dpi JPEG</strong> images suitable for your needs.  These images will include a copyright statment within a surrounding gray border similar in apperance to the image below.  The watermark text states:</p>
         <blockquote>
            <p>Under 17USC, Section 107, this single copy was produced for the purposes of private study, scholarship, or research.  No further copies should be made. Copyright and other legal restrictions may apply. Special Collections, University of Virginia Library.</p>
         </blockquote>
         <div class="watermark_thumb" style="float: center;">
            <img class="watermark_thumb" src="<%=image_path('request_form/watermark_thumb.jpg')%>" title="Watermarked 300dpi JPG" onclick="" />
         </div>
         <p><br/>If you require special formats such as TIFF or higher resolutions, please add a note in the Special Instructions field (above.)</p>
      </div>
      <div class="intended_use_highest_tif" style="display: none;">
         <p>Deliverables: <strong>Highest possible dpi TIFF</strong></p>
         <p>For this use Digital Production Group will deliver <strong>Highest possible dpi TIFF</strong> images suitable for your needs.  The resolution of the images is dependent on the size of the physical object.  Generally, if the item is smaller than 11" on the longest side, the resolution will be 600dpi.  If the item is between 11" and 14" on the longest side, the resolution will be 400dpi.  Any item larger than 14" on the long side will generally have a resolution of 300dpi.</p>
      </div>
   </div>

   <div class="col-md-2">
      <%= unit.link_to_remove "Remove this item", :class => 'btn btn-danger' %>
   </div>
</div>
