<div id="order-item" style="display:none">
   <legend class="form">Item <span id="item-number">1</span> Information</legend>
   <p class="help-block">
      In the boxes below, include the item, image, or page numbers to be scanned. If possible, include
      any additional descriptive information such as, item call number, box number, and folder or item description.
      Please add one item for each individual collection or book you would like digitized.
   </p>

   <div class="form-group">
      <%= label_tag(:request_title, "Title (required)")%>
      <%= text_field_tag(:request_title, "", {class: "form-control"} ) %>
   </div>
   <div class="form-group">
      <%= label_tag(:request_pages_to_digitize, "Image or page numbers (required)") %>
      <%= text_area_tag(:request_pages_to_digitize, "", {class: 'form-control'}) %>
   </div>
   <div class="form-group">
      <%= label_tag( :request_call_number, "Call Number")%>
      <%= text_field_tag( :request_call_number, "", {class: "form-control"} ) %>
   </div>
   <div class="form-group">
      <%= label_tag( :request_author, "Author") %>
      <%= text_field_tag( :request_author, "", {class: "form-control"} ) %>
   </div>
   <div class="form-group">
      <%= label_tag( :request_year, "Year Published")%>
      <%= text_field_tag( :request_year, "", {class: "form-control"} ) %>
   </div>
   <div class="form-group">
      <%= label_tag( :request_location, "Location")%>
      <%= text_field_tag( :request_location, "", {class: "form-control"} ) %>
   </div>
   <div class="form-group">
      <%= label_tag( :request_description, "Additional Description") %>
      <%= text_area_tag(:request_description, "", {class: 'form-control'})  %>
      <p class="help-block">If the provided fields were insufficient to describe the item, include supplemental information above.</p>
   </div>

   <div class="form-group instructions">
      <strong>
         Use the Add Item button to add addtional items to your order. When complete, click Submit Order to review and complete your order.
      </strong>
   </div>
</div>
