<fieldset>
   <legend class="form">Primary Address</legend>
   <%= c.fields_for :primary_address_attributes do |pa| %>
      <div class="form-group">
         <%= pa.label "Address Line1", :class => 'control-label' %>
         <%= pa.text_field :address_1, :class=>'form-control', :value => @request.customer.primary_address.address_1 %>
      </div>
      <div class="form-group">
         <%= pa.label "Address Line2", :class => 'control-label' %>
         <%= pa.text_field :address_2, :class=>'form-control', :value => @request.customer.primary_address.address_2 %>
      </div>
      <div class="form-group">
         <%= pa.label "City", :class => 'control-label' %>
         <%= pa.text_field :city, :class=>'form-control', :value => @request.customer.primary_address.city %>
      </div>
      <div class="form-group">
         <%= pa.label "State", :class => 'control-label' %>
         <%= pa.text_field :state, :class=>'form-control', :value => @request.customer.primary_address.state %>
      </div>
      <div class="form-group">
         <%= pa.label "Zip Code", :class => 'control-label' %>
         <%= pa.text_field :post_code, :class=>'form-control', :value => @request.customer.primary_address.post_code %>
      </div>
      <div class="form-group">
         <%= pa.label "Country", :class => 'control-label' %>
         <%= pa.select :country,
            country_options_for_select(@request.customer.primary_address.country, ['United States', 'Canada']),
            {:include_blank => true}, {:class=>'form-control'}  %>
      </div>
      <div class="form-group">
         <%= pa.label "Phone", :class => 'control-label' %>
         <%= pa.text_field :phone, :class=>'form-control', :value => @request.customer.primary_address.phone %>
      </div>
   <% end %>
</fieldset>
