<fieldset>
 <legend>Primary Address</legend>
 <%= c.fields_for :primary_address_attributes do |pa| %>
    <div class="control-group">
      <%= pa.label "Address Line1", :class => 'control-label required' %>
      <div class="controls">
        <%= pa.text_field :address_1, :value => @request.customer.primary_address.address_1, :required => required_field_value %>
      </div>
    </div>
    <div class="control-group">
      <%= pa.label "Address Line2", :class => 'control-label' %>
      <div class="controls">
        <%= pa.text_field :address_2, :value => @request.customer.primary_address.address_2 %>
      </div>
    </div>
    <div class="control-group">
      <%= pa.label "City", :class => 'control-label required' %>
      <div class="controls">
        <%= pa.text_field :city, :value => @request.customer.primary_address.city, :required => required_field_value %>
      </div>
    </div>
    <div class="control-group">
      <%= pa.label "State", :class => 'control-label' %>
      <div class="controls">
        <%= pa.text_field :state, :value => @request.customer.primary_address.state %>
      </div>
    </div>
    <div class="control-group">
      <%= pa.label "Zip Code", :class => 'control-label' %>
      <div class="controls">
        <%= pa.text_field :post_code, :value => @request.customer.primary_address.post_code %>
      </div>
    </div>
    <div class="control-group">
      <%= pa.label "Country", :class => 'control-label required' %>
      <div class="controls">
        <%= pa.select :country, country_options_for_select(@request.customer.primary_address.country, ['United States', 'Canada']), :include_blank => true  %>
      </div>
    </div>
    <div class="control-group">
      <%= pa.label "Phone", :class => 'control-label' %>
      <div class="controls">
        <%= pa.text_field :phone, :value => @request.customer.primary_address.phone %>
      </div>
    </div>
 <% end %>
</fieldset>
