<div class="item-review" data-item-idx="<%= idx %>"  tabindex="0">
   <h4><span>Item #<%= idx + 1 %></span>
      <span class="ctls">
         <span class="action edit" tabindex="0">Edit</span>
         <span class="action delete" tabindex="0">Delete</span>
      </span>
   </h4>
   <div><label>Title:</label><span class="item-title"><%= item['title'] %></span></div>
   <div><label>Pages:</label><span class="item-pages"><%= item['pages'] %></span></div>
   <div><label>Call Number:</label><span class="item-call-number"><%= item['callNumber'] %></span></div>
   <div><label>Author:</label><span class="item-author"><%= item['author'] %></span></div>
   <div><label>Year Published:</label><span class="item-year"><%= item['year'] %></span></div>
   <div><label>Location:</label><span class="item-location"><%= item['location'] %></span></div>
   <div><label>Web Link:</label><span class="source-url"><%= item['sourceUrl'] %></span></div>
   <div><label>Additional Info:</label><span class="special-instructions"><%= item['description'] %></span></div>
</div>
