<div class="panel history">
   <h3>History</h3>
   <div class="panel_contents">
      <div class="time-summary">
         <span class="wall">
            <label>Total Wall Time:</label><span><%= project.total_wall_time %></span>
         </span>
         <span class="real">
            <label>Total Work Time:</label><span><%= project.total_work_time %></span>
         </span>
      </div>
      <table class="project-history">
         <tr><th>Date</th><th>Step</th><th>Activity</th><th>Owner</th></tr>
         <% project.assignments.order(assigned_at: :desc).each do |a| %>

            <% if !a.finished_at.nil? %>
               <% c="success"
                  t = "Finished"
                  if a.rejected?
                     c="fail"
                     t="Rejected"
                  end
                  %>
               <tr class="<%= c %>">
                  <td><%= a.finished_at.strftime("%F %r") %></td>
                  <td><%= a.step.name %></td>
                  <td><span><%= t %><br/><%= a.duration_minutes %> mins</span></td>
                  <td><%= a.staff_member.full_name %></td>
               </tr>
            <% end %>

            <% if !a.started_at.nil? %>
               <% t = "Started"
                  c = ""
                  if a.error?
                     c="class=fail"
                     t="Error"
                  end %>
               <tr <%= c %> >
                  <td><%= a.started_at.strftime("%F %r") %></td>
                  <td><%= a.step.name %></td>
                  <td><%= t %></td>
                  <td><%= a.staff_member.full_name %></td>
               </tr>
            <% end %>

            <tr >
               <td><%= a.assigned_at.strftime("%F %r") %></td>
               <td><%= a.step.name %></td>
               <td>Assigned</td>
               <td><%= a.staff_member.full_name %></td>
            </tr>
         <% end %>
         <tr class="create">
            <td><%= project.added_at.strftime("%F %r") %></td>
            <td>Project #<%= project.id %></td>
            <td>Created</td>
            <td></td>
         </tr>
      </table>
   </div>
</div>
