<%= semantic_form_for([:admin, @workflow], :url => "/admin/workflows/#{@workflow.id}") do |f| %>
   <%= f.inputs "General Information", :class => 'panel three-column ' do %>
      <%= f.input :name %>
      <%= f.input :description, :as => :text, :input_html => { :rows => 5 } %>

      <fieldset class="columns-none workflow-submit">
         <input type="submit" name="commit" value="Update">
         <a class="cancel" href="/admin/workflows/<%= @workflow.id %>">Cancel</a>
      </fieldset>

   <% end %>


   <fieldset class="panel workflow-panel">
      <legend><span>Workflow Steps</span><div class="add"></div></legend>
      <div class="setps">
         <% @workflow.steps.each do |step| %>
            <%= render partial: "step", locals: {step: step} %>
         <% end %>
      </div>
   </fieldset>

<% end %>
