<div class="workflow-step<% if error %> error<% end %>">
   <div class="step-toolbar">
      <% if !readonly %>
         <span class="step-name"><%= step.name %></span>
         <span class='down'></span><span class='up'></span><span class='edit'></span><span class='trash'></span>
      <% else %>
         <span class="step-name centered"><%= step.name %></span>
      <% end %>
   </div>
   <div class="step-content">
      <p class="desc"><%= step.description %></p>
      <p><b>Start Directory:</b><%= step.start_dir %></p>
      <p><b>Finish Directory:</b><%= step.finish_dir %></p>
   </div>
</div>
