<div class="workflow-step<% if error %> error<% end %>">
   <div class="step-toolbar">
      <span class="step-name"><%= step.name %></span>
      <span class="user-info">
         <span class="owner"><%= step.owner_type.split("_").first.capitalize %></span>
         <%= image_tag "owner.png" %>
      </span>
   </div>
   <div class="step-content">
      <p class="desc"><%= step.description %></p>
      <% if !error %>
         <p><b>Start Directory:</b><%= step.start_dir %></p>
      <% end %>

      <p><b>Finish Directory:</b><%= step.finish_dir %></p>
      <% if step.manual && !error %>
         <p class='note'>Manual move to finish directory</p>
      <% end %>
   </div>
</div>
