<html>
<body>
   <div class="twelvecol">
      <div><%= image_tag "http://digiservdelivery.lib.virginia.edu/lib_letterhead.jpg", :size => '640x64' %></div>
      <p>Dear <%= @customer.first_name.titleize %> <%= @customer.last_name.titleize %>,</p>
      <p>Thank you for submitting a request to UVa Library Digital Production Group.  Below you will find a summary of your order.</p>
      <div class="twelvecol">
         <h2>Order Summary</h2>
         <div class="span4">
            <h3>Customer Information</h3>
            <dl class="dl-horizontal">
               <dt>First Name</dt>
               <dd><%= empty2nbsp(@customer.first_name) %></dd>
               <dt>Last Name</dt>
               <dd><%= empty2nbsp(@customer.last_name) %></dd>
               <dt>Email</dt>
               <dd><%= empty2nbsp(@customer.email) %></dd>
               <dt>Academic Status</dt>
               <dd><%= empty2nbsp(@customer.academic_status.name) %></dd>
            </dl>
         </div>

         <div class="span4">
            <h3>Primary Address</h3>
            <dl class="dl-horizontal">
               <dt>Address1</dt>
               <dd><%= empty2nbsp(@customer.primary_address.address_1) %></dd>
               <dt>Address2</dt>
               <dd><%= empty2nbsp(@customer.primary_address.address_2) %></dd>
               <dt>City</dt>
               <dd><%= empty2nbsp(@customer.primary_address.city) %></dd>
               <dt>State</dt>
               <dd><%= empty2nbsp(@customer.primary_address.state) %></dd>
               <dt>Zip Code</dt>
               <dd><%= empty2nbsp(@customer.primary_address.post_code) %></dd>
               <dt>Country</dt>
               <dd><%= empty2nbsp(@customer.primary_address.country) %></dd>
               <dt>Phone</dt>
               <dd><%= empty2nbsp(@customer.primary_address.phone) %></dd>
            </dl>
         </div>

         <% if @customer.billable_address %>
         <div class="span4">
            <h3>Billing Address</h3>
            <dl class="dl-horizontal">
               <dt>First Name</dt>
               <dd><%= empty2nbsp(@customer.billable_address.first_name) %></dd>
               <dt>Last Name</dt>
               <dd><%= empty2nbsp(@customer.billable_address.last_name) %></dd>
               <dt>Address1</dt>
               <dd><%= empty2nbsp(@customer.billable_address.address_1) %></dd>
               <dt>Address2</dt>
               <dd><%= empty2nbsp(@customer.billable_address.address_2) %></dd>
               <dt>City</dt>
               <dd><%= empty2nbsp(@customer.billable_address.city) %></dd>
               <dt>State</dt>
               <dd><%= empty2nbsp(@customer.billable_address.state) %></dd>
               <dt>Zip Code</dt>
               <dd><%= empty2nbsp(@customer.billable_address.post_code) %></dd>
               <dt>Country</dt>
               <dd><%= empty2nbsp(@customer.billable_address.country) %></dd>
               <dt>Phone</dt>
               <dd><%= empty2nbsp(@customer.billable_address.phone) %></dd>
            </dl>
         </div>
         <% end %>
      </div>

      <div class="span12">
         <h3>Request Information</h3>
         <dl class="dl-horizontal">
            <dt>Due Date</dt>
            <dd><%= empty2nbsp(@request.date_due) %></dd>
            <dt>Intended Use</dt>
            <dd><%= empty2nbsp(@request.order_items.first.intended_use.description) %></dd>
            <dt>Format</dt>
            <dd><%= empty2nbsp(@request.order_items.first.intended_use.deliverable_format) %></dd>
            <dt>Resolution</dt>
            <dd><%= empty2nbsp(@request.order_items.first.intended_use.deliverable_resolution) %></dd>
            <dt>Special Instructions</dt>
            <dd><%= empty2nbsp(@request.special_instructions) %></dd>
         </dl>
      </div>

      <div class="span12">
         <h3>Item Information</h3>
         <% @request.order_items.each do |item| %>
         <h4>Item #<%= @request.order_items.index(item) + 1 %></h4>
         <dl class="dl-horizontal">
            <dt>Title</dt>
            <dd><%= empty2nbsp(item.title) %></dd>
            <dt>Pages to Digitize</dt>
            <dd><%= empty2nbsp(item.pages) %></dd>
            <% if !item.call_number.blank? %>
               <dt>Call Number</dt>
               <dd><%= empty2nbsp(item.call_number) %></dd>
            <% end %>
            <% if !item.author.blank? %>
               <dt>Author</dt>
               <dd><%= empty2nbsp(item.author) %></dd>
            <% end %>
            <% if !item.year.blank? %>
               <dt>Year Published</dt>
               <dd><%= empty2nbsp(item.year) %></dd>
            <% end %>
            <% if !item.location.blank? %>
               <dt>Location</dt>
               <dd><%= empty2nbsp(item.location) %></dd>
            <% end %>
            <% if !item.source_url.blank? %>
               <dt>Web Link</dt>
               <dd><%= empty2nbsp(item.source_url) %></dd>
            <% end %>
            <% if !item.description.blank?  %>
               <dt>Description</dt>
               <dd><%= empty2nbsp(raw(item.description.to_s.gsub(/\n/, '<br/>'))) %></dd>
            <% end %>
         </dl>
         <% end %>
      </div>

      <div class="span12">
         <h2>Guideline Reminder</h2>
         <dl>
            <dt>Processing Time</dt>
            <dd>Orders generally require at least 20 days to process.  Rush requests will be honored if possible.</dd>
            <dt>Fees</dt>
            <dd><em><strong>(Non-UVA only)</strong></em>  $50 for the first hour, $25 each additional hour.  Special Collections staff will send a fee estimate that must be approved before any digitization work is done.</dd>
            <dt>Deliverables</dt>
            <dd>300dpi JPEG or highest resolution TIFF, depending on your intended use.</dd>
            <dt>Delivery</dt>
            <dd>All requests are delivered as online downloads. Special delivery needs will be honored at the Digitization Production Group's discretion.</dd>
            <dt>Copyright</dt>
            <dd>
               All copies are provided for private study, scholarship, or research pursuant to 17 USC ยง 107 and/or 108.
               Copyright and other legal restrictions may apply to further uses, and the Library does not grant permissions
               or give legal advice regarding reuse of items in its collections.
               Please see our <a href="https://small.library.virginia.edu/services/publishing/">Permissions and Publishing</a> page for more information.
            </dd>
            <dt>Further Questions?</dt>
            <dd>If you have questions about your request, contact <%= mail_to 'digitalservices@virginia.edu' %> and include the following request number: <strong><%= @request.id %></strong></dd>
         </dl>
         <%= link_to " Submit another request", root_url, :class => 'btn btn-inverse' %>
      </div>
   </div>

   <div>
      <address>
         <strong>University of Virginia Library</strong><br/>
         Digital Production Group<br/>
         <a href="mailto:#">digitalservices@virginia.edu</a>
      </address>

      <p>Learn more about us at <%= link_to "http://dcs.library.virginia.edu/", "http://dcs.library.virginia.edu/" %></p>
   </div>
</body>
</html>
