<div>
   <% if admin && project.current_step.name == "Scan" %>
      <span class='disp-item' id='container-type'><%= project.container_type.name if !project.container_type.blank? %></span>
      <select class='hidden edit-item' id='container-type-edit' >
         <% ContainerType.all.order(name: :asc).each do |c| %>
            <% sel = ""
               sel = 'selected=selected' if c.id == project.container_type_id %>
            <option <%= sel %> value="<%= c.id %>"><%= c.name %></option>
         <% end %>
      </select>
   <% else %>
      <% if !project.container_type.blank? %>
      <span><%= project.container_type.name %></span>
      <% else %>
      <span class="empty">EMPTY</span>
      <% end %>
   <% end %>
</div>
