<%= semantic_form_for([:admin, @sirsi_metadata], :url=>"/admin/sirsi_metadata/#{@sirsi_metadata.id}") do |f| %>
<%= f.semantic_errors *f.object.errors.keys %>
   <fieldset class="two-column panel">
      <legend><span>Basic Information</span></legend>
     <%= render :partial=>'/admin/metadata/sirsi_metadata/sirsi_meta', locals: {edit: true} %>
   </fieldset>

   <%= f.inputs "Digital Library Information", :class => 'two-column panel' do %>
      <%= f.input :pid, :as => :string, :input_html => { :readonly => true } %>
      <%= f.input :availability_policy %>
      <%= f.input :discoverability, :as => :select %>
      <li class="select input optional" id="sirsi_metadata_collection_facet_input">
          <label for="sirsi_metadata_collection_facet" class="label">Collection Facet</label>
          <select name="sirsi_metadata[collection_facet]" id="sirsi_metadata_collection_facet" >
             <option value="" disabled selected>Select a facet</option>
             <option value="">None</option>
             <% CollectionFacet.all.order(name: :asc).each do |c| %>
                <% selected = ""
                   selected = "selected='selected'" if c.name == @sirsi_metadata.collection_facet %>
                <option value="<%= c.name %>" <%= selected %> ><%= c.name %></option>
             <% end %>
          </select>
      </li>
      <%= f.input :use_right, label: "Right Statement" %>
      <%= f.input :use_right_rationale %>
      <%= f.input :creator_death_date, label: "Creator Death Date (Year)", placeholder: "YYYY" %>

      <%= f.input :dpla, :as => :radio %>

      <!-- Only allow single level heirarchy; if metadata has children, it can't also be a child -->
      <% if @sirsi_metadata.children.count == 0 %>
          <li class="select input optional" id="sirsi_metadata_parent_metadata_id_input">
             <label for="sirsi_metadata_parent_metadata_id" class="label">Parent Metadata ID</label>
             <input id="sirsi_metadata_parent_metadata_id" type="text" name="sirsi_metadata[parent_metadata_id]">
             <span id="find-metadata"></span>
          </li>
      <% end %>

      <%= f.input :date_dl_ingest, :as => :string, :input_html => {:class => "datepicker"} %>
      <%= f.input :date_dl_update, :as => :string, :input_html => {:class => "datepicker"} %>
   <% end %>

   <%= f.inputs "Administrative Information", :class => 'two-column panel meta-admin-info' do %>
      <%= f.input :is_manuscript, :as => :radio, label: "Manuscript or unpublished item?"%>
      <%= f.input :ocr_hint, :input_html => {:class => 'chosen-select',  :style => 'width: 200px'} %>
       <li class="select input optional" id="sirsi_metadata_ocr_language_hint_input">
          <label for="sirsi_metadata_ocr_language_hint" class="label">OCR Language Hint</label>
          <select multiple="multiple" class="chosen-select" name="sirsi_metadata[ocr_language_hint][]" 
                  id="sirsi_metadata_ocr_language_hint" style="width:200px">
             <% @languages.each do |l| %>
                <% selected = ""
                   selected = "selected='selected'" if !@sirsi_metadata.ocr_language_hint.nil? && @sirsi_metadata.ocr_language_hint.include?(l) %>
                <option value="<%= l %>" <%= selected %> ><%= l %></option>
             <% end %>
          </select>
      </li>
      <%= f.input :preservation_tier, :as => :select, :collection => PreservationTier.all, :input_html => {:class => 'chosen-select',  :style => 'width: 200px'} %>
   <% end %>

   <%= render partial: "/admin/common/metadata_finder_modal" %>

   <fieldset class="columns-none xml-submit">
      <input type="submit" name="commit" value="Update Sirsi metadata">
      <a class="cancel" href="/admin/sirsi_metadata/<%= @sirsi_metadata.id %>">Cancel</a>
   </fieldset>
<% end %>
