<div class="attributes_table">
   <% if !defined?(edit) && @sirsi_meta[:invalid] == true %>
      <div class='sirsi-error'>The catalog key and/or barcode could not be found in Sirsi</div>
   <% end %>
   <table border="0" cellspacing="0" callpadding="0">
      <% if !defined?(edit) %>
         <tr class="row"><th>Catalog Key</th><td><%= raw format_td(@sirsi_meta[:catalog_key]) %></td></tr>
         <tr class="row"><th>Barcode</th><td><%= raw format_td(@sirsi_meta[:barcode]) %></td></tr>
         <tr class="row"><th>Title</th><td class="sirsi-data" id="title"><%= raw format_td(@sirsi_meta[:title]) %></td></tr>
         <tr class="row"><th>Creator Name</th><td  class="sirsi-data" id="creator_name"><%= raw format_td( @sirsi_meta[:creator_name]) %></td></tr>
         <tr class="row"><th>Creator Name Type</th><td  class="sirsi-data" id="creator_name_type"><%= raw format_td(@sirsi_meta[:creator_name_type]) %></td></tr>
         <tr class="row"><th>Call Number</th><td  class="sirsi-data" id="call_number"><%= raw format_td(@sirsi_meta[:call_number]) %></td></tr>
      <% else %>
         <tr class="row">
            <th>Catalog Key</th>
            <td>
               <input class='sirsi-edit' maxlength="255" id="sirsi_metadata_catalog_key" type="text" value="<%= @sirsi_meta[:catalog_key] %>" name="sirsi_metadata[catalog_key]">
            </td>
         </tr>
         <tr class="row">
            <th>Barcode</th>
            <td>
               <input class='sirsi-edit' maxlength="255" id="sirsi_metadata_barcode" type="text" value="<%= @sirsi_meta[:barcode] %>" name="sirsi_metadata[barcode]">
            </td>
         </tr>
         <tr class="row">
            <td colspan="2" style="text-align:right">
               <p class="sirsi-error">This is a fake error</p>
               <span id="refresh-metadata" class="ocr-button">Refresh Metadata</span>
            </td>
         </tr>
         <tr class="row">
            <th>Title</th>
            <td>
               <span class="sirsi-data" id="title"><%= raw format_td(@sirsi_meta[:title]) %></span>
               <input style="display:none" class='sirsi-edit' maxlength="255" id="sirsi_metadata_title" type="text" value="<%= @sirsi_meta[:title] %>" name="sirsi_metadata[title]">
            </td>
         </tr>
         <tr class="row">
            <th>Creator Name</th>
            <td>
               <span class="sirsi-data" id="creator_name"><%= raw format_td( @sirsi_meta[:creator_name]) %></span>
               <input style="display:none" class='sirsi-edit' maxlength="255"
                      id="sirsi_metadata_creator_name" type="text" value="<%= @sirsi_meta[:creator_name] %>" name="sirsi_metadata[creator_name]">
            </td>
         </tr>
         <tr class="row"><th>Creator Name Type</th><td  class="sirsi-data" id="creator_name_type"><%= raw format_td(@sirsi_meta[:creator_name_type]) %></td></tr>
         <tr class="row">
            <th>Call Number</th>
            <td>
               <span class="sirsi-data" id="call_number"><%= raw format_td(@sirsi_meta[:call_number]) %></span>
               <input style="display:none" class='sirsi-edit' maxlength="255" id="sirsi_metadata_call_number"
                      type="text" value="<%= @sirsi_meta[:call_number] %>" name="sirsi_metadata[call_number]">
            </td>
         </tr>
      <% end %>

      <tr class="row"><th>Year</th><td  class="sirsi-data" id="year"><%= raw format_td(@sirsi_meta[:year]) %></td></tr>
      <tr class="row"><th>Year Type</th><td  class="sirsi-data" id="year_type"><%= raw format_td(@sirsi_meta[:year_type]) %></td></tr>
      <tr class="row"><th>Place of Publication</th><td  class="sirsi-data" id="publication_place"><%= raw format_td(@sirsi_meta[:publication_place]) %></td></tr>
      <tr class="row"><th>Copy</th><td  class="sirsi-data" id="copy"><%= raw format_td(@sirsi_meta[:copy]) %></td></tr>
      <tr class="row"><th>Location</th><td  class="sirsi-data" id="location"><%= raw format_td(@sirsi_meta[:location]) %></td></tr>

      <% if !defined?(edit) %>
         <tr class="row">
            <th>Collection ID</th>
            <td class="sirsi-data" id="collection_id"><%= raw format_td(@sirsi_meta[:collection_id]) %></td>
         </tr>
      <% else %>
         <tr class="row">
            <th>Collection ID</th>
            <td>
               <input class='sirsi-edit' maxlength="255" id="sirsi_metadata_collection_id"
                      type="text" value="<%= @sirsi_meta[:collection_id] %>" name="sirsi_metadata[collection_id]">
            </td>
         </tr>
      <% end %>
      <tr class="row">
         <th>Cataloging Source</th>
         <td class="sirsi-data" id="cataloging_source"><%= raw format_td(@sirsi_meta[:cataloging_source]) %></td>
      </tr>
      <tr class="row">
         <th>Citation</th>
         <td class="sirsi-data" id="citation"><%= raw format_td(@sirsi_meta[:citation]) %></td>
      </tr>
      <tr class="row">
         <th>Description</th>
         <td class="sirsi-data" id="description"><%= raw format_td(@sirsi_meta[:description]) %></td>
      </tr>
      <tr class="row">
         <th>title control</th>
         <td class="sirsi-data" id="title_control"><%= raw format_td( @sirsi_meta[:title_control]) %></td>
      </tr>
      <tr class="row">
         <th>series title</th>
         <td class="sirsi-data" id="series_title"><%= raw format_td(@sirsi_meta[:series_title]) %></td>
      </tr>
      <tr class="row">
         <th>volume</th>
         <td class="sirsi-data" id="volume"><%= raw format_td(@sirsi_meta[:volume]) %></td>
      </tr>
      <tr class="row">
         <th>issue</th>
         <td class="sirsi-data" id="issue"><%= raw format_td(@sirsi_meta[:issue]) %></td>
      </tr>
   </table>

</div>
