<%= semantic_form_for([:admin, @master_file], :url => "/admin/master_files/#{@master_file.id}") do |f| %>
   <%= f.inputs "General Information", :class => 'two-column panel' do %>
      <%= f.input :filename %>
      <%= f.input :title %>
      <%= f.input :description, :as => :text, :input_html => { :rows => 3 } %>
      <%= f.input :creation_date, :as => :text, :input_html => { :rows => 1 } %>
      <%= f.input :primary_author, :as => :text, :input_html => { :rows => 1 } %>
      <%= f.input :creator_death_date, :as => :string, :input_html => { :rows => 1 } %>
      <%= f.input :date_archived, :as => :string, :input_html => {:class => :datepicker} %>
      <%= f.input :date_dl_ingest, :as => :string, :input_html => {:class => :datepicker} %>
      <%= f.input :date_dl_update, :as => :string, :input_html => {:class => :datepicker} %>
   <% end %>

   <%= f.inputs "Related Information", :class => 'panel two-column' do %>
      <li class="string input required stringish">
         <label for="master_file_unit_id" class="label">Unit ID</label>
         <input  name="master_file[unit_id]" id="master_file_unit_id" type="text" value="<%= @master_file.unit_id %>"/>
      </li>

      <li class="string input required stringish">
         <label for="mf-metadata-type-picker" class="label">Metadata Type</label>
         <select id="mf-metadata-type-picker" class="chosen-select" style="width: 260px">
            <option value="sirsi_metadata">SirsiMetadata</option>
            <option value="xml_metadata"<% if !@master_file.metadata.nil? && @master_file.metadata.type == "XmlMetadata" %>selected<% end %> >XmlMetadata</option>
         </select>
      </li>

      <li class="string input required stringish" id="master_file_metadata_input">
         <label class="label">Metadata</label>
         <% curr = ""
            uri = "sirsi_metadata"
            if !@master_file.metadata.nil?
               if @master_file.metadata.type == "SirsiMetadata"
                  curr = @master_file.metadata.barcode
               else
                  uri = "xml_metadata"
                  curr = "#{@master_file.metadata.id}: #{@master_file.metadata.title}"
               end
            end %>
          <input name="master_file[metadata_id]" id="master_file_metadata_id" value="<%= @master_file.metadata_id %>" style="display:none"/>
          <input data-queryuri="<%= uri %>" id="mf_metadata_selector" type="text" value="<%= curr %>"/>
      </li>
   <% end %>

   <fieldset class="columns-none xml-submit">
      <input type="submit" name="commit" value="Update Master File">
      <a class="cancel" href="/admin/master_files/<%= @master_file.id %>">Cancel</a>
   </fieldset>

<% end %>
