<%= semantic_form_for([:admin, @master_file], :url => "/admin/master_files/#{@master_file.id}") do |f| %>
   <%= f.inputs "General Information", :class => 'two-column panel' do %>
      <%= f.input :filename %>
      <li class="select input optional" id="master_file_flip_axis_input">
         <label for="master_file_flip_axis">Flip Axis</li>
         <select name="master_file[flip_axis]" id="master_file_flip_axis" >
            <% ImageTechMeta.flip_axis.each do |fa| %>
               <% selected = ""
                  selected = "selected='selected'" if fa.first == @master_file.image_tech_meta.flip_axis %>
               <option value="<%= fa.first %>" <%= selected %> ><%= fa.first %></option>
            <% end %>
         </select>
      </li>
      <%= f.input :title %>
      <%= f.input :description, :as => :text, :input_html => { :rows => 3 } %>
      <%= f.input :creation_date, :as => :text, :input_html => { :rows => 1 } %>
      <%= f.input :primary_author, :as => :text, :input_html => { :rows => 1 } %>
      <%= f.input :date_archived, :as => :string, :input_html => {:class => :datepicker} %>
      <%= f.input :date_dl_ingest, :as => :string, :input_html => {:class => :datepicker} %>
      <%= f.input :date_dl_update, :as => :string, :input_html => {:class => :datepicker} %>
   <% end %>

   <%= f.inputs "Related Information", :class => 'panel two-column' do %>
      <li class="string input required stringish">
         <label for="master_file_unit_id" class="label">Unit ID</label>
         <input  name="master_file[unit_id]" id="master_file_unit_id" type="text" value="<%= @master_file.unit_id %>"/>
      </li>

      <li class="select input optional required stringish" id="master_file_metadata_id_input">
         <label for="master_file_metadata_id" class="label">Metadata ID</label>
         <input type="text" name="master_file[metadata_id]" id="master_file_metadata_id" value="<%= @master_file.metadata_id %>"/>
         <span id="find-metadata"></span>
      </li>
   <% end %>

   <% if !@master_file.location.nil? %>
      <%= render partial: "location_panels", locals: {location: @master_file.location} %>
      <%= f.inputs "Location Information", :class => 'panel two-column edit-location-panel' do %>
         <li class="select input optional">
            <label class="label">Container Type</label>
            <select name="master_file[container_type_id]" id="master_file_container_type_id" >
               <option value="" disabled selected>Select a type</option>
               <% ContainerType.all.order(name: :asc).each do |c| %>
                  <% selected = ""
                     selected = "selected='selected'" if c.id == @master_file.location.container_type_id %>
                  <option value="<%= c.id %>" <%= selected %> ><%= c.name %></option>
               <% end %>
            </select>
         </li>
         <li class="select input optional stringish">
            <label class="label">Container Name</label>
            <input  name="master_file[container_id]" id="master_file_container_id"
                    type="text" value="<%= @master_file.container_id %>"/>
         </li>
         <li class="select input optional stringish">
            <label class="label">Folder</label>
            <input  name="master_file[folder_id]" id="master_file_folder_id"
                    type="text" value="<%= @master_file.folder_id %>"/>
         </li>
         <li class="select input optional stringish">
            <label class="label">Notes</label>
            <textarea rows="5"  name="master_file[notes]" id="master_file_notes"><%= @master_file.notes %></textarea>
         </li>
         <li id="location-message"></li>
         <li style="text-align:right">
            <span class="btn" id="change-location">Select Different Location</span>
            <span class="btn" id="new-location">Create New Location</span>
         </li>
      <% end %>
   <% end %>
   <%= render partial: "/admin/common/metadata_finder_modal" %>

   <fieldset class="columns-none xml-submit">
      <input type="submit" name="commit" value="Update Master File">
      <a class="cancel" href="/admin/master_files/<%= @master_file.id %>">Cancel</a>
   </fieldset>

<% end %>
