<%= semantic_form_for([:admin, @master_file], :url => "/admin/master_files/#{@master_file.id}") do |f| %>
   <%= f.inputs "General Information", :class => 'two-column panel' do %>
      <%= f.input :filename %>
      <%= f.input :title %>
      <%= f.input :description, :as => :text, :input_html => { :rows => 3 } %>
      <%= f.input :creation_date, :as => :text, :input_html => { :rows => 1 } %>
      <%= f.input :primary_author, :as => :text, :input_html => { :rows => 1 } %>
      <%= f.input :creator_death_date, :as => :string, :input_html => { :rows => 1 } %>
      <%= f.input :date_archived, :as => :string, :input_html => {:class => :datepicker} %>
      <%= f.input :date_dl_ingest, :as => :string, :input_html => {:class => :datepicker} %>
      <%= f.input :date_dl_update, :as => :string, :input_html => {:class => :datepicker} %>
   <% end %>

   <%= f.inputs "Related Information", :class => 'panel two-column' do %>
      <%= f.input :unit_id, :as => :number %>
      <li class="string input optional stringish">
         <label for="metadata-type-picker" class="label">Metadata Type</label>
         <select id="metadata-type-picker" class="chosen-select" style="width: 260px">
            <option value="sirsi_metadata">SirsiMetadata</option>
            <option value="xml_metadata"<% if !@master_file.metadata.nil? && @master_file.metadata.type == "XmlMetadata" %>selected<% end %> >XmlMetadata</option>
         </select>
      </li>

      <% if !@master_file.metadata.nil? && @master_file.metadata.type == "XmlMetadata" %>
         <%= f.input :metadata, :as => :select,
            :collection => Hash[XmlMetadata.all.map{|b| ["#{b.id}: #{b.title}", b.id]}],
            :input_html => { :class => 'chosen-select', :style => 'width: 260px'} %>
      <% else %>
         <%= f.input :metadata, :as => :select,
            :collection => Hash[SirsiMetadata.all.map{|b| ["#{b.barcode}", b.id]}],
            :input_html => { :class => 'chosen-select', :style => 'width: 260px'} %>
      <% end %>
   <% end %>

   <fieldset class="columns-none xml-submit">
      <input type="submit" name="commit" value="Update Master File">
      <a class="cancel" href="/admin/master_files/<%= @master_file.id %>">Cancel</a>
   </fieldset>

<% end %>
