<div id="mf-do-viewer" class="uv"
   data-uri="<%= Settings.iiif_manifest_url %>/<%= pid %>?unit=<%= unit_id %>"
   data-canvasindex="<%= page %>" style="width:800px; height:600px;">
</div>
<script type="text/javascript" id="embedUV" src="<%= Settings.doviewer_url %>/web/viewer/lib/embed.js"></script>
