<!doctype html>
<html lang="en">
<head>
  <title>UVA Library - Digital Production Group Request Form</title>
  <%= stylesheet_link_tag    "request" %>
  <%= javascript_include_tag "request" %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

  <%= csrf_meta_tags %>

  <script type="text/javascript">var access_analytics={base_url:"https://analytics.ssbbartgroup.com/api/",instance_id:"AA-58bdcc11cee35"};(function(a,b,c){var d=a.createElement(b);a=a.getElementsByTagName(b)[0];d.src=c.base_url+"access.js?o="+c.instance_id+"&v=2";a.parentNode.insertBefore(d,a)})(document,"script",access_analytics);</script>
</head>
<body>
   <header role="banner">
      <a href="http://www.lib.virginia.edu/"><%= image_tag("liblogo.png") %></a>
      <form role="search" id="search" method="get" action="http://search.lib.virginia.edu/catalog">
         <input type="text" value="" placeholder="Search Virgo for books, articles, digital materials, and more." name="q" id="SI" class="search-home">
         <input type="hidden" value="all" name="portal">
         <input type="hidden" value="all" name="catalog_select">
         <input type="hidden" value="date_received_facet desc" name="sort">
         <button type="submit" class="search-submit btn btn-info" id="main_search_submit">Search</button>
         <div class="search-options">
           <span class="also-try">Also try&nbsp;<span class="submenu-indicator">▼</span></span>

             <ul class="also-try-list">
               <li><a href="http://search.lib.virginia.edu" data-bitly-type="bitly_hover_card"><strong>More Virgo Options</strong> »</a></li>
               <li><a href="http://guides.lib.virginia.edu/journalfinder" data-bitly-type="bitly_hover_card">Journal Finder »</a></li>
               <li><a href="http://guides.lib.virginia.edu/az" data-bitly-type="bitly_hover_card">Databases A-Z »</a></li>
               <li><a href="http://libra.virginia.edu" data-bitly-type="bitly_hover_card">Libra »</a></li>
             </ul>
           </div>
      </form>
   </header>

   <div id="main">
     <div id="content" role="main">
         <%= yield %>
     </div>
  </div>

    <div class="contact-container">
        <h2 class="contact-header">Have questions? Need help?</h2>
        <div class="vcard">
          <address class="contact email">Email: <a href="mailto:digitalservices@virginia.edu">digitalservices@virginia.edu</a></address>
        </div>
     </div>

    <footer id="content-info" role="contentinfo">
      <div class="address">
         <a href="http://www.library.virginia.edu/">University of Virginia Library</a><br>
         PO Box 400113, Charlottesville, VA 22904-4113<br>
         ph: (434) 924-3021, fax: (434) 924-1431, <a href="mailto:library@virginia.edu">library@virginia.edu</a>
      </div>
      <div class="external_links">
          <a href="http://www.library.virginia.edu/staff/">Staff Directory</a> | <a href="http://www.virginia.edu/">U.Va. Home</a> | <a href="http://its.virginia.edu/">ITS</a><br>
          <a href="mailto:site-feedback@virginia.edu?subject=U.Va.%20Library%20Site%20Feedback&amp;body=Thank%20you%20for%20your%20feedback!%20%20Are%20you%20having%20trouble%20finding%20information%20on%20the%20new%20Library%20site%20or%20have%20you%20encountered%20an%20error?%20Please%20let%20us%20know%20below.%0A%0APage%20you%20were%20on%3A%20https://tracksys.lib.virginia.edu/%0A%0AMy%20feedback%3A%20">Feedback</a>
          | <a href="http://www.library.virginia.edu/askalibrarian/">Questions? Ask a Librarian</a>
          <br>
          <a href="http://www.library.virginia.edu/site-search/">Site Search</a> | <a href="http://www.library.virginia.edu/hours/">Hours</a> | <a href="http://www.library.virginia.edu/map/">Map</a> | <a href="http://www.library.virginia.edu/policies/">Policies</a> | <a href="http://www.library.virginia.edu/press/">Press</a> | <a href="http://www.library.virginia.edu/jobs/">Jobs</a><br>
          <a href="http://www2.lib.virginia.edu/campaign/">Give to the Library</a>
          <p class="copy">
             © 2012 by the Rector and Visitors of the <a href="http://www.virginia.edu/">University of Virginia</a>
          </p>
        </div>
        <div class="legal">
          <p class="gov"><a class="fdlp" href="http://guides.lib.virginia.edu/findinggovinfo"><span id="fdlp-badge"></span></a> This library is a Congressionally designated depository for <a href="http://guides.lib.virginia.edu/findinggovinfo">U.S. Government documents</a>. Public access to the Government documents is guaranteed by public law.</p>
        </div>
      </div>
    </footer>

   </div>
   <script type="text/javascript" src="http://paypal.github.io/skipto/downloads/js/SkipTo.min.js"></script>
</body>
</html>
